---
layout: default
title: Who actually receives food assistance?
id: intro
---

    <section id="intro">
      <div class="intro-header">
        <div class="intro-header-outer">
          <div class="intro-header-inner">
            <h1>Who actually receives food assistance?</h1>
            <h2>A fresh look at the facts</h2>
            <p>
              Californians who receive food assistance come from all
              backgrounds, but many share a similar story: they were already
              struggling with financial <strong>instability</strong> when they
              experienced a <strong>common shock</strong>. CalFresh helps people
              through challenging times in their lives. This site shares their
              stories.
            </p>
            <div class="scroll-tip"></div>
          </div>
        </div>
      </div>

      <div id="intro-content" class="content">
        <p>
          At Code for America, we run GetCalFresh.org, which helps more than
          20,000 households apply for <span id="food-assistance-callout" class="callout">food assistance</span>
          every month. We know that it's very difficult to overcome stigma and
          seek out help, even for people who are experiencing hunger. Despite
          their hardships, many of our users still feel compelled to describe
          the reluctance, and often shame, they feel about asking for help. They
          might mention they waited too long to apply, they have never asked for
          help before, or they hope to be off of food assistance as quickly as
          possible.
        </p>
        <p>
          The stigma our users experience arises from myths about food
          assistance, which have a deep resonance in American culture. It only
          takes an occasional sensational anecdote for these myths to persist.
          Through this site, we will counteract those myths with real stories
          from GetCalFresh applicants, in their own words, that ground us in the
          facts about food assistance. We'll showcase real, representative
          stories of people seeking and receiving assistance, as well as
          relevant findings from rigorous research. We know that, as one of our
          users put it, "the less fortunate are invisible to so many people."
          Our aim is to surface their stories, with dignity and respect, and to
          make them visible.
        </p>
      </div>

      {% include stats.html sectionId="intro" %}

      <div class="content">
        <p>
          Most GetCalFresh users were barely making ends meet when they were
          tipped into crisis by an unexpected expense or job loss.<a href="https://fns-prod.azureedge.net/sites/default/files/SNAPFoodSec.pdf"><sup>[1]</sup></a>
          The first set of stories on this site exemplify the precarious financial
          lives of many Californians. Once cost of living is taken into account,
          California is the state with the highest poverty rate.<a href="https://www.census.gov/content/dam/Census/library/publications/2016/demo/p60-258.pdf"><sup>[2]</sup></a>
        </p>
        <p>
          The second set of stories describes common shocks or adverse events
          that lead people to apply for food assistance. An illness, injury,
          loss of a job, a rent increase, or even a car breakdown might be
          enough to force a financially vulnerable household to begin making
          choices between food and other necessities.
        </p>
      </div>

      {% include quotes.html sectionId="intro" contentId="self_sufficiency" %}
    </section>

    <section id="instability">
      {% include hero_header.html sectionId="instability" title="Instability" subtitle="Many Californians struggle to make ends meet" %}

      <div class="content">
        <p>
          Food assistance is a way of coping with a challenge that almost
          everyone is familiar with: making ends meet. Despite its size and
          economic diversity, California is the fourth most expensive place to
          live in the country, after Hawaii, Washington DC, and New York. While
          eligibility for SNAP is based on the federal poverty line (which is
          the same across all states) Californians has the fourth highest cost
          of living in the nation.<a href="https://www.bea.gov/data/prices-inflation/regional-price-parities-state-and-metro-area"><sup>[1]</sup></a>
          If cost of living is taken into account, California has the highest
          poverty rate of any state.<a href="https://www.census.gov/content/dam/Census/library/publications/2016/demo/p60-258.pdf"><sup>[2]</sup></a>
        </p>
      </div>

      {% include stats.html sectionId="instability" %}

      <div class="content">
        <p>
          These economic circumstances mean that many people have no buffer if
          they suddenly incur a large expense or lose income. It is not
          surprising that the most common dilemma GetCalFresh applicants mention
          in their applications is not being able to afford food after paying
          for rent, utilities, and gas or public transit fare to get to work.
          <strong>In their applications for food assistance, about three in five
            of our applicants report having less than $100 on hand after monthly
            expenses. </strong>
        </p>
      </div>

      <div class="content heading">
        <h3>Working parents use CalFresh to feed their families</h3>
        <p>
          Most of the people receiving CalFresh benefits who can work, do work.
          But they often work in low-wage jobs like retail, the restaurant
          industry, home health, or construction. These jobs often have unsteady
          hours that can leave workers in financially unstable situations. They
          also lack benefits and flexibility, which can mean frequent job losses
          and gaps between jobs if transportation or child care falls through.
          When food assistance is taken away from parents, that means fewer
          groceries, which negatively impacts the health of the whole family.
        </p>
      </div>

      {% include quotes.html sectionId="instability" contentId="parents" %}

      <div class="content">
        <p>
          Despite their efforts, parents often struggle to provide healthy food
          for their kids. The median GetCalFresh parent works 38 hours a week,
          earning $14.70 an hour. In fact, 66% of GetCalFresh households with
          children include someone who is working. Nationally, 65% of SNAP
          households with children include someone who is working.<a href="#"><sup>[1]</sup></a>
        </p>
        <p>
          The testimonials of these parents echo the research findings. In
          interviews with 90 families with children receiving SNAP benefits,
          academics found that about half restricted their own eating to make sure
          their children would have enough food.footnote In the U.S. in 2017,
          15.7% of households with children were food insecure.<a href="#"><sup>[1]</sup></a><a href="#"><sup>[2]</sup></a>
          In about 45% of these households (or 7% of all U.S. households), adults
          reported skipping meals or cutting the size of a meal in the last 30
          days.<a href="#"><sup>[3]</sup></a>
        </p>
      </div>

      <div class="content heading">
        <h3>Young people rely on CalFresh when trying to finish school or start their careers</h3>
        <p>
          For college and graduate students, paying for food and rent can make
          it that much harder to finish school. Recent college or high school
          grads who are just starting their careers often aren't paid enough to
          meet their basic needs.
        </p>
      </div>

      {% include quotes.html sectionId="instability" contentId="students" %}

      <div class="content">
        <p>
          Students often take desperate measures to stay fed: they join clubs
          for the food, participate in research for cash, and ask friends to
          swipe them into the dining hall. In some counties, a large share of
          the applicants GetCalFresh sees are students. For example, students
          account for 60.7% of applications in Santa Cruz County and 58% of
          applications in Yolo County.
        </p>
        <p>
          For recent high school or college grads entering the workforce,
          CalFresh serves as a bridge that gets them through the least secure,
          lowest-paid time of their careers. This is easy to see in the data:
          GetCalFresh applicants below age 30 work four fewer hours a week,
          and earn two dollars less per hour, than applicants in their thirties
          (the latter work a median of 36 hours a week at $15 per hour).
          Moreover, 46.1% of applicants under age 30 live by themselves,
          compared to only 28.5% of applicants in their thirties.<a href="#"><sup>[1]</sup></a>
        </p>
      </div>

      <div class="content heading">
        <h3>Many seniors need help buying food, but are especially affected by stigma</h3>
        <p>
          Saving enough to have a stable retirement income is more and more
          challenging these days. Seniors, who are often on this kind of fixed
          income, can especially benefit from food assistance. Yet they
          represent the population with the greatest gap between their
          eligibility for CalFresh and their enrollment in the program, due in
          large part to stigma. <a href="#"><sup>[1]</sup></a><a href="#"><sup>[2]</sup></a><a href="#"><sup>[3]</sup></a><a href="#"><sup>[4]</sup></a>
          Perhaps unsurprisingly, many GetCalFresh applicants who are seniors
          describe a recent job loss or seeking employment as a reason for
          applying.
        </p>
      </div>

      {% include quotes.html sectionId="instability" contentId="seniors" %}

      <div class="content">
        <p>
          Of applicants who are 60 or older and working, two in three work at
          least 20 hours a week. In California, the average monthly benefit for a
          senior is $158, making it especially worth their while to apply.<a href="#"><sup>[1]</sup></a>
          Yet the gap between senior participation and eligibility suggests that
          seniors are one of the most reluctant groups to seek out food
          assistance. Nationally, SNAP reaches 85% of all eligible individuals,
          but only 45% of eligible seniors footnote. In California, the disparity
          is worse: SNAP reaches 70% of eligible people, but only 18% of eligible
          seniors.<a href="#"><sup>[2]</sup></a>
        </p>
      </div>
    </section>

    <section id="shocks">
      {% include hero_header.html sectionId="shocks" title="Common Shocks" subtitle="Common shocks that create a need for CalFresh" %}

      <div class="content">
        <p>
          Up to this point, we've focused on stories from some of our largest
          groups of applicants: working families, students or young people
          starting their careers, and seniors. They convey stress. Their
          households have no slack in their incomes — they already cannot keep
          up with the bare necessities. A single car accident, medical
          emergency, or unexpected layoff can break the budget for months, often
          forcing them to choose between food, housing, or medical care. In this
          section, we examine some of the common shocks that lead already
          vulnerable individuals to seek out CalFresh.
        </p>
        <p>
          Academic researchers lump shocks that lead to food (and financial)
          insecurity into simple categories: as sharp increases in expenses or
          reductions in income.<a href="https://fns-prod.azureedge.net/sites/default/files/SNAPFoodSec.pdf"><sup>[1]</sup></a><a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1741-3737.2010.00713.x"><sup>[2]</sup></a>
          In this section, we'll describe a few of the more common shocks our
          applicants describe. They include losing a job, the high costs of
          illness or injury, or having to stay home to take care of a family
          member. Natural disasters, while less frequent, can also be a shock -
          in recent months, thousands of people have applied due to being
          displaced by California's wildfires.
        </p>
      </div>

      {% include stats.html sectionId="shocks" %}

      <div class="content">
        <h3>Job loss is the most common reason for applying</h3>
        <p>
          For people who are already struggling financially, a job loss or
          reduction in hours is often the shock that makes food assistance
          necessary.
        </p>
      </div>

      {% include quotes.html sectionId="shocks" contentId="job_loss" %}

      <div class="content">
        <p>
          People who apply for food assistance often have experienced a
          hardship that causes them to slip into poverty. Roughly 2 in 5
          households that fall into poverty do so because of the loss of a job.
          Nearly half (47%) of households that exit poverty will do so because
          of a new job. <a href="#"><sup>[1]</sup></a>
        </p>
        <p>
          When transitioning between jobs, CalFresh reduces stress around food
          availability and the pressure to make costly trade-offs to get by.
          Clients share stories about dire choices they have to make like
          selling a car in a rush or using rent money for food and being
          evicted. The most common reason applicants tell us for no longer
          needing food assistance is that they went from unemployed to employed,
          found a better job, or got more hours. CalFresh provides the stability
          to find more regular hours, or a higher paying job.
        </p>
      </div>

      <div class="content heading">
        <h3>Illness and injury are often destabilizing events</h3>
        <p>
          Not everyone has a plan when serious illness or disability strikes.
          Taking time away from work and managing medical bills add to the
          financial strain of Californians living close to poverty line.
        </p>
      </div>

      {% include quotes.html sectionId="shocks" contentId="medical" %}

      <div class="content">
        <p>
          Twenty-eight percent of non-elderly adults on SNAP have a disability.<a href="#"><sup>[1]</sup></a>
          Yet, because most disability benefit applications (SSI or SSDI) are
          rejected on their first attempt and it often takes two years to get
          approved, many rely on SNAP in the interim. Research shows that of
          people who are disabled and on SNAP, two in five do not receive SSI or
          SSDI.<a href="#"><sup>[2]</sup></a>
        </p>
      </div>

      <div class="content heading">
        <h3>Choosing between caring for a family member and working</h3>
        <p>
          GetCalFresh applicants often describe how much time they spend caring
          for a disabled spouse, child, or older relative. Caretaking can be a
          full-time job, but is often unpaid and lacks benefits. It leaves many
          with an inflexible schedule to find times they can earn income.
        </p>
      </div>

      {% include quotes.html sectionId="shocks" contentId="caretaking" %}

      <div class="content">
        <p>
          It's hard to find care for disabled children and middle-aged adults.
          Long-term care facilities are expensive, and limit options for older
          family members. Family members providing caretaking support often have
          to cut back on their work hours and income. This decreases a family's
          ability to buy healthy food.<a href="#"><sup>[1]</sup></a>
          As a result, households with disabled people are two to three times
          more likely to be food insecure.<a href="#"><sup>[2]</sup></a>
        </p>
      </div>

      <div class="content heading">
        <h3>Natural disasters often hit the poor the hardest</h3>
        <p>
          California is prone to natural disasters like fires, droughts, and
          earthquakes. The impact of disaster on low-income communities can be
          catastrophic and reveal how many people were financially insecure.
          They may have had enough money to get by, but limited insurance or a
          very small rainy day fund. Many are forced to use already limited
          assets to buffer losses like moving to a new area to find a job or
          home to rent. Following a disaster, aid normally comes in the form of
          FEMA, unemployment insurance, and food assistance. People who were
          better off financially often recover more quickly, while others need
          more support to get back on their feet.
        </p>
      </div>

      {% include quotes.html sectionId="shocks" contentId="disasters" %}
    </section>

    <section id="calfresh">
      {% include hero_header.html sectionId="calfresh" title="How CalFresh Helps" subtitle="CalFresh helps people get back on their feet" %}

      <div class="content">
        <p>
          In California, a state with one of the highest costs of living in the
          country, nearly one in five people live in poverty. CalFresh helps
          millions of California workers in low-paying jobs buy healthy food
          during a time of need. CalFresh doesn't only help an individual make
          it through a difficult time, but also energizes the local economy.
        </p>
      </div>

      {% include quotes.html sectionId="calfresh" contentId="how_it_helps" %}
    </section>

    <section id="explore">
      <div class="section-header">
        <h1>Explore Counties</h1>
        <p>
          Click on the map to view county statistics and read stories from
          real CalFresh recipients across California
        </p>
      </div>

      <div class="map-container">
        <div class="map-inner">
          <div class="map-info">
          </div>
          <div class="map">
            <div class="jsmaps-wrapper" id="california-map"></div>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </section>
