---
layout: default
title: Why Californians need food assistance
id: intro
---

    <section id="intro">
      <div class="intro-header">
        <div class="intro-header-outer">
          <div class="intro-header-inner">
            <h1>Why<br> Californians<br> need food assistance</h1>
            <h2>The stories behind the numbers</h2>
            <p>
              Californians who receive food assistance come from all
              backgrounds, but many share a similar story: they were
              <strong>barely getting by</strong> financially when they were
              <strong>tipped into a crisis</strong> by an unexpected expense or
              loss of income. This site shares their stories.
            </p>
            <div class="scroll-tip"></div>
          </div>
          {% include share.html %}
        </div>
      </div>

      <div id="intro-content" class="content-outer">
        <div class="content-inner">
          <p>
            At Code for America, we run GetCalFresh.org, which helps more than
            30,000 households apply for <span title="#" class="callout">food
            assistance</span> every month. <strong>We've heard again and again
            how difficult it is for people experiencing hunger to seek out
            help.</strong> Despite their hardships, many of our users describe
            their reluctance to ask for help. Many tell us that they have never
            asked for help before and are ashamed about their situation.
            Applicants feel the stigma that arises from deeply ingrained myths
            about poverty and welfare in American culture.
          </p>
          <p>
            <strong>Our users' stories challenge these myths.</strong> They
            reflect the common financial struggles that lead people to seek out
            food assistance. We know that, as one of our users put it, "The less
            fortunate are invisible to so many people." Our aim is to surface
            their stories, with dignity and respect, in order to create a more
            accurate and memorable picture of the people who seek out and
            receive food assistance in California.
          </p>
        </div>
      </div>

      {% include stats.html sectionId="intro" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            <strong>Most GetCalFresh users were barely making ends meet when
            they were tipped into crisis by an unexpected expense, job loss, or
            cut in hours.</strong>{% include footnote.html number=4 %}
            {% include footnote.html number=5 %} Once cost of living is taken
            into account, California is the state with the highest poverty rate.
            {% include footnote.html number=6 %} Many Californians &mdash;
            working adults, families with children, students, seniors &mdash;
            live precarious financial lives, described in the stories in the
            <a class="intLink" href="#instability">first section of this
            site</a>.
          </p>
          <p>
            A financial shock, such as an illness or injury, a job loss, a rent
            increase, or even a car breakdown, might be enough to force a
            financially vulnerable household to make choices between food and
            other necessities. <a class="intLink" href="#shocks">The second
            section of this site</a> includes stories of adverse events that led
            Californians to seek out food assistance.
          </p>
          <p>
            <strong>The reason people feel shame in asking for help is that they
            prefer to be self-sufficient.</strong> A common goal among users is
            to be on CalFresh for the shortest possible time. Others mention
            anxiety that friends, extended family, or employers might find out
            that they are seeking food assistance.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="intro" contentId="self_sufficiency" %}

      {% include myths.html %}
    </section>

    <section id="instability">
      {% include hero_header.html sectionId="instability" title="Barely getting by" subtitle="Many Californians struggle to make ends meet" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            Food assistance is a way of coping with a challenge that almost
            everyone is familiar with: making ends meet. Despite its size and
            economic diversity, California is the fourth most expensive place to
            live in the country, after Hawaii, Washington DC, and New York.
            {% include footnote.html number=30 %}
          </p>
        </div>
      </div>

      {% include stats.html sectionId="instability" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            These economic circumstances mean that many Californians can't quite
            manage their monthly expenses. <strong>The most common challenge
            GetCalFresh users mention in their applications is not being able to
            afford food after paying for rent, utilities, and transportation to
            get to work.</strong>
          </p>
        </div>
      </div>

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Working, but still hungry</h3>
          <p>
            <strong>Most of the people receiving CalFresh benefits who can work,
            do work.</strong> But they often work in low-wage jobs like retail,
            the restaurant industry, home health, or construction. These jobs
            often have unsteady hours that can leave workers in financially
            unstable situations.
            {% include footnote.html number=31 %}
            Many lack benefits and flexibility, which can mean frequent job
            losses, fluctuating and insufficient hours, and gaps between jobs if
            transportation or child care falls through. Food insecurity for
            these workers harms the health of whole families.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="instability" contentId="parents" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            <strong>Despite their efforts, parents often struggle to provide
            healthy food for their kids.</strong> The median GetCalFresh parent
            works 38 hours a week, earning $14.70 an hour. In fact, 66% of
            GetCalFresh households with children include a working adult.
            Nationally, 65% of SNAP households with children include someone who
            is working. {% include footnote.html number=32 %}
          </p>
          <p>
            The testimonials of these parents echo the research findings. In
            interviews with 90 families with children receiving SNAP benefits,
            academics found that <strong>about half restricted their own eating
            to make sure their children would have enough food.</strong>
            {% include footnote.html number=33 %}
            In the U.S. in 2017, 15.7% of households with children were food
            insecure. {% include footnote.html number=34 %}
            In about 45% of these households (or 7% of all U.S. households),
            adults reported skipping meals or cutting the size of a meal in the
            last 30 days. {% include footnote.html number=35 %}
          </p>
        </div>
      </div>

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Just getting started: students and young adults</h3>
          <p>
            <strong>Many young adults, whether enrolled in college or starting
            their career, lack the income they need to meet their basic
            needs.</strong>
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="instability" contentId="students" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            <strong>Students often take desperate measures to stay fed: they
            join clubs for the food, participate in research for cash, and ask
            friends to swipe them into the dining hall.</strong> In some
            counties, a large share of GetCalFresh applicants are students. For
            example, students account for 60.7% of applications in Santa Cruz
            County and 58% of applications in Yolo County.
          </p>
          <p>
            <strong>Young people entering the workforce experience the least
            secure, lowest paid period of their careers.</strong> SNAP can serve
            as a bridge to get them through. GetCalFresh applicants below age 30
            work four fewer hours a week (32 vs. 36 hours/week), and earn two
            dollars less per hour ($13 vs. $15/hour), than applicants in their
            thirties. Moreover, 46.1% of applicants under age 30 live by
            themselves, compared to only 28.5% of applicants in their thirties.
            {% include footnote.html number=36 %}
          </p>
        </div>
      </div>

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Seniors facing stigma</h3>
          <p>
            <strong>Of all Californians, seniors have the greatest gap between
            their eligibility for SNAP and their enrollment in the
            program.</strong> In California, the average monthly benefit for a
            senior is $158 {% include footnote.html number=37 %}, making it
            especially worth their while to apply. Yet they represent the
            population with the greatest gap between their eligibility for SNAP
            and their enrollment in the program, due in large part to stigma.
            {%include footnote.html number=38 %}
            {%include footnote.html number=39 %}
            {%include footnote.html number=40 %}
            {%include footnote.html number=41 %}
            Nationally, SNAP reaches 85% of all eligible individuals, but only
            45% of eligible seniors. {%include footnote.html number=42 %} In
            California, the disparity is worse: SNAP reaches 70% of all eligible
            individuals, but only 18% of eligible seniors.
            {%include footnote.html number=43 %}
          </p>
          <p>
            With rising costs of living and the severe impacts of the 2007-2009
            financial crisis on retirement savings among those approaching
            retirement age, many seniors do not have enough saved to have a
            stable retirement income.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="instability" contentId="seniors" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            As people age, they often struggle with declining physical or mental
            capacity to work. Many feel compelled to stop working, reduce their
            hours, or change jobs to cope with a major health crisis of their
            own or in their household. Even without health challenges, people in
            late middle age and over frequently report encountering age
            discrimination in the labor market. Perhaps unsurprisingly, many
            GetCalFresh users who are seniors mention unemployment as a reason
            for applying. 
          </p>
        </div>
      </div>
    </section>

    <section id="shocks">
      {% include hero_header.html sectionId="shocks" title="Common Shocks" subtitle="Common shocks that create a need for CalFresh" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            Up to this point, we've focused on stories from some of our largest
            groups of applicants: working families, students or young people
            starting their careers, and seniors. They convey stress. Their
            households have no slack in their incomes — they already cannot keep
            up with the bare necessities. A single car accident, medical
            emergency, or unexpected layoff can break the budget for months, often
            forcing them to choose between food, housing, or medical care. In this
            section, we examine some of the common shocks that lead already
            vulnerable individuals to seek out CalFresh.
          </p>
          <p>
            Academic researchers lump shocks that lead to food (and financial)
            insecurity into simple categories: as sharp increases in expenses or
            reductions in income.<a href="https://fns-prod.azureedge.net/sites/default/files/SNAPFoodSec.pdf"><sup>[1]</sup></a><a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1741-3737.2010.00713.x"><sup>[2]</sup></a>
            In this section, we'll describe a few of the more common shocks our
            applicants describe. They include losing a job, the high costs of
            illness or injury, or having to stay home to take care of a family
            member. Natural disasters, while less frequent, can also be a shock -
            in recent months, thousands of people have applied due to being
            displaced by California's wildfires.
          </p>
        </div>
      </div>

      {% include stats.html sectionId="shocks" %}

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Job loss is the most common reason for applying</h3>
          <p>
            For people who are already struggling financially, a job loss or
            reduction in hours is often the shock that makes food assistance
            necessary.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="shocks" contentId="job_loss" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            People who apply for food assistance often have experienced a
            hardship that causes them to slip into poverty. Roughly 2 in 5
            households that fall into poverty do so because of the loss of a job.
            Nearly half (47%) of households that exit poverty will do so because
            of a new job. <a href="#"><sup>[1]</sup></a>
          </p>
          <p>
            When transitioning between jobs, CalFresh reduces stress around food
            availability and the pressure to make costly trade-offs to get by.
            Clients share stories about dire choices they have to make like
            selling a car in a rush or using rent money for food and being
            evicted. The most common reason applicants tell us for no longer
            needing food assistance is that they went from unemployed to employed,
            found a better job, or got more hours. CalFresh provides the stability
            to find more regular hours, or a higher paying job.
          </p>
        </div>
      </div>

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Illness and injury are often destabilizing events</h3>
          <p>
            Not everyone has a plan when serious illness or disability strikes.
            Taking time away from work and managing medical bills add to the
            financial strain of Californians living close to poverty line.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="shocks" contentId="medical" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            Twenty-eight percent of non-elderly adults on SNAP have a disability.<a href="#"><sup>[1]</sup></a>
            Yet, because most disability benefit applications (SSI or SSDI) are
            rejected on their first attempt and it often takes two years to get
            approved, many rely on SNAP in the interim. Research shows that of
            people who are disabled and on SNAP, two in five do not receive SSI or
            SSDI.<a href="#"><sup>[2]</sup></a>
          </p>
        </div>
      </div>

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Choosing between caring for a family member and working</h3>
          <p>
            GetCalFresh applicants often describe how much time they spend caring
            for a disabled spouse, child, or older relative. Caretaking can be a
            full-time job, but is often unpaid and lacks benefits. It leaves many
            with an inflexible schedule to find times they can earn income.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="shocks" contentId="caretaking" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            It's hard to find care for disabled children and middle-aged adults.
            Long-term care facilities are expensive, and limit options for older
            family members. Family members providing caretaking support often have
            to cut back on their work hours and income. This decreases a family's
            ability to buy healthy food.<a href="#"><sup>[1]</sup></a>
            As a result, households with disabled people are two to three times
            more likely to be food insecure.<a href="#"><sup>[2]</sup></a>
          </p>
        </div>
      </div>

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Natural disasters often hit the poor the hardest</h3>
          <p>
            California is prone to natural disasters like fires, droughts, and
            earthquakes. The impact of disaster on low-income communities can be
            catastrophic and reveal how many people were financially insecure.
            They may have had enough money to get by, but limited insurance or a
            very small rainy day fund. Many are forced to use already limited
            assets to buffer losses like moving to a new area to find a job or
            home to rent. Following a disaster, aid normally comes in the form of
            FEMA, unemployment insurance, and food assistance. People who were
            better off financially often recover more quickly, while others need
            more support to get back on their feet.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="shocks" contentId="disasters" %}
    </section>

    <section id="calfresh">
      {% include hero_header.html sectionId="calfresh" title="How CalFresh Helps" subtitle="CalFresh helps people get back on their feet" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            In California, a state with one of the highest costs of living in the
            country, nearly one in five people live in poverty. CalFresh helps
            millions of California workers in low-paying jobs buy healthy food
            during a time of need. CalFresh doesn't only help an individual make
            it through a difficult time, but also energizes the local economy.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="calfresh" contentId="how_it_helps" %}
    </section>

    <section id="explore">
      <div class="section-header">
        <div class="section-header-outer">
          <div class="section-header-inner">
            <h1>Explore Counties</h1>
            <p>
              Click on the map to view county statistics and read stories from
              real CalFresh recipients across California
            </p>
          </div>
          {% include share.html %}
        </div>
      </div>

      <div class="map-container">
        <div class="map-inner">
          <div class="map-info">
          </div>
          <div class="map">
            <div id="california-map"></div>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
    </section>
