---
layout: default
title: Why Californians need food assistance
id: intro
---

    <section id="intro">
      <div class="intro-header">
        <div class="intro-header-outer">
          <div class="intro-header-inner">
            <h1>Why Californians need food assistance</h1>
            <h2>The stories behind the numbers</h2>
            <p>
              Californians who receive food assistance come from all
              backgrounds, but many share a similar story: they were
              <a class="scroll-link" href="#instability">barely getting by</a>
              financially when they were <a class="scroll-link" href="#shocks">tipped into crisis</a>
              by an unexpected expense or loss of income. This site shares their
              stories.
            </p>
            <div class="scroll-tip"></div>
          </div>
          {% include share.html %}
        </div>
      </div>

      <div id="intro-content" class="content-outer">
        <div class="content-inner">
          <p>
            At Code for America, we run GetCalFresh.org, which helps more than
            30,000 households apply for <span title="#" class="callout" id="snap-callout">food
            assistance</span> every month. We've heard again and again how
            difficult it is for people experiencing hunger to seek out help.
            Despite their hardships, many of our users describe their reluctance
            to ask for help. Many tell us that they have never asked for help
            before and are ashamed about their situation. People applying for
            food assistance feel the stigma that arises from deeply ingrained
            myths about poverty and welfare in American culture.
          </p>
          <p>
            <strong>Our users' stories challenge these myths.</strong> They
            reflect the common financial struggles that lead people to seek out
            food assistance. We know that, as one of our users put it, "The less
            fortunate are invisible to so many people." Our aim is to surface
            their stories, with dignity and respect, in order to create a more
            accurate and memorable picture of the people who seek out and
            receive food assistance in California.
          </p>
        </div>
      </div>

      {% include stats.html sectionId="intro" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            Most GetCalFresh users were barely making ends meet when they were
            tipped into crisis by an unexpected expense, job loss, or cut in
            hours.{%include footnote.html number=4%}{%include footnote.html number=5%}
            Once cost of living is taken into account, California is the state
            with the highest poverty rate.{% include footnote.html number=6 %}
            Many Californians &mdash; working adults, families with children,
            students, seniors &mdash; live precarious financial lives, described
            in the stories in the first section of this site.
          </p>
          <p>
            A financial shock, such as an illness or injury, a job loss, a rent
            increase, or even a car breakdown, might be enough to force a
            financially vulnerable household to make choices between food and
            other necessities. The second section of this site includes stories
            of adverse events that led Californians to seek out food assistance.
          </p>
          <p>
            People feel shame in asking for help because they prefer to be
            self-sufficient. A common goal among users is to be on CalFresh for
            the shortest possible time. Others mention anxiety that friends,
            extended family, or employers might find out that they are seeking
            food assistance.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="intro" contentId="self_sufficiency" %}

      {% include myths.html %}
    </section>

    <section id="instability">
      {% include hero_header.html sectionId="instability" title="Barely getting by" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            Food assistance is a way of coping with a challenge that almost
            everyone is familiar with: making ends meet. Despite its size and
            economic diversity, California is the fourth most expensive place to
            live in the country, after Hawaii, Washington DC, and New York.{% include footnote.html number=30 %}
          </p>
        </div>
      </div>

      {% include stats.html sectionId="instability" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            These economic circumstances mean that many Californians can't quite
            manage their monthly expenses. The most common challenge GetCalFresh
            users mention in their applications is not being able to afford food
            after paying for rent, utilities, and transportation to get to work.
          </p>
        </div>
      </div>

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Working, but still hungry</h3>
          <p>
            Most of the people receiving CalFresh benefits who can work, do
            work. But they often work in low-wage jobs like retail, the
            restaurant industry, home health, or construction. These jobs
            often have unsteady hours that can leave workers in financially
            unstable situations.{% include footnote.html number=31 %}
            Many lack benefits and flexibility, which can mean frequent job
            losses, fluctuating and insufficient hours, and gaps between jobs if
            transportation or child care falls through. Food insecurity for
            these workers harms the health of whole families.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="instability" contentId="parents" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            The testimonials of these parents echo the research findings. In
            interviews with 90 families with children receiving SNAP benefits,
            academics found that about half restricted their own eating to make
            sure their children would have enough food.{% include footnote.html number=32 %}
            In the U.S. in 2017, 15.7% of households with children were food
            insecure.{% include footnote.html number=33 %} In about 45% of these
            households (or 7% of all U.S. households), adults reported skipping
            meals or cutting the size of a meal in the last 30 days.{% include footnote.html number=34 %}
          </p>
          <p>
            Despite their efforts, parents often struggle to provide healthy
            food for their kids. The median GetCalFresh parent works 38 hours a
            week, earning $14.70 an hour. In fact, 66% of GetCalFresh households
            with children include a working adult. Nationally, 65% of SNAP
            households with children include someone who is working.{% include footnote.html number=35 %}
          </p>
        </div>
      </div>

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Just getting started: students and young adults</h3>
          <p>
            Many young adults, whether enrolled in college or starting their
            career, lack the income to meet their basic needs.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="instability" contentId="students" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            Students often take desperate measures to stay fed: they join clubs
            for the food, participate in research for cash, and ask friends to
            swipe them into the dining hall. In some counties, a large share of
            GetCalFresh applicants are students. For example, students account
            for 60.7% of applications in Santa Cruz County and 58% of
            applications in Yolo County.
          </p>
          <p>
            Young people entering the workforce experience the least secure,
            lowest paid period of their careers. SNAP can serve as a bridge to
            get them through. GetCalFresh applicants below age 30 work four
            fewer hours a week (32 vs. 36 hours/week), and earn two dollars less
            per hour ($13 vs. $15/hour), than applicants in their thirties.
            Moreover, 46.1% of applicants under age 30 live by themselves,
            compared to only 28.5% of applicants in their thirties.{% include footnote.html number=36 %}
          </p>
        </div>
      </div>

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Seniors facing stigma</h3>
          <p>
            In California, the average monthly benefit for a senior is $158,{% include footnote.html number=37 %} making it
            especially worth their while to apply. Yet seniors represent the
            population with the greatest gap between their eligibility for SNAP
            and their enrollment in the program, due in large part to stigma.{%include footnote.html number=38 %}{%include footnote.html number=39 %}{%include footnote.html number=40 %}{%include footnote.html number=41 %}
            Nationally, SNAP reaches 85% of all eligible individuals, but only
            45% of eligible seniors.{%include footnote.html number=42 %} In
            California, the disparity is worse: SNAP reaches 70% of all eligible
            individuals, but only 18% of eligible seniors.{%include footnote.html number=43 %}
          </p>
          <p>
            With rising costs of living and the severe impacts of the 2007-2009
            financial crisis on retirement savings among those approaching
            retirement age, many seniors do not have enough saved to have a
            stable retirement income.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="instability" contentId="seniors" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            As people age, they often struggle with declining physical or mental
            capacity to work. Many feel compelled to stop working, reduce their
            hours, or change jobs to cope with a major health crisis of their
            own or in their household. Even without health challenges, people in
            late middle age and over frequently report encountering age
            discrimination in the labor market. Perhaps unsurprisingly, many
            GetCalFresh users who are seniors mention unemployment as a reason
            for applying.
          </p>
        </div>
      </div>
    </section>

    <section id="shocks">
      {% include hero_header.html sectionId="shocks" title="Setbacks and crisis" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            Households on the financial edge can hardly keep up with the bare
            necessities. With no buffer, a financial shock like a car accident,
            medical emergency, or unexpected layoff can break the budget for
            months, forcing people to choose between food, housing, and medical
            care.
          </p>
          <p>
            Academic researchers distinguish financial shocks that lead to
            increased expenses (such as a rent increase or car breakdown) from
            those that lead to decreased income (such as reduced hours at work,
            or a job loss).{% include footnote.html number=44 %}{% include footnote.html number=45 %}
            In this section, we'll share applicants' stories of the shocks that
            led them to seek food assistance. Common financial shocks include
            losing a job, getting sick or injured, or needing to care for a
            family member. Natural disasters, while less frequent, can also be a
            shock &mdash; in late 2018, thousands of people applied for food
            assistance after being displaced by California's wildfires.
          </p>
        </div>
      </div>

      {% include stats.html sectionId="shocks" %}

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Losing a job</h3>
          <p>
            For people who are already struggling financially, a job loss or
            reduction in hours is often the shock that makes food assistance
            necessary.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="shocks" contentId="job_loss" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            Roughly two in five households that fall into poverty do so because
            of the loss of a job. Nearly half (47%) of households that exit
            poverty will do so because of a new job.{% include footnote.html number=46 %}
            For people who are between jobs, SNAP reduces stress about food
            availability and the pressure to make trade-offs to get by. Clients
            share stories about dire choices they have made, like selling a car
            in a rush, or using rent money for food (and then being evicted).
            The most common reason applicants tell us they no longer need food
            assistance is that they went from unemployed to employed, found a
            better job, or got more hours. SNAP provides the stability to find a
            higher paying job or one with more regular hours.
          </p>
        </div>
      </div>

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Illness, injury, and disability</h3>
          <p>
            When illness or injury strikes, taking time away from work and
            managing medical bills add to the financial strain of Californians
            living close to the poverty line.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="shocks" contentId="medical" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            <strong>People who have recently become disabled may qualify for
            disability (SSI), but rely on SNAP while they wait.</strong> It may
            take three to four months to get an initial decision for disability
            benefits, which was a denial in 80% of disability cases in 2016.{% include footnote.html number=47 %}
            Those denied often appeal, but in 2017, the average wait for an
            appeal was nearly 20 months.{% include footnote.html number=48 %}
            More than 40% of SNAP participants with a disability do not receive
            SSI or SSDI and 28% of non-elderly adults on SNAP have a disability.{% include footnote.html number=49 %}
          </p>
        </div>
      </div>

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Caring for a family member</h3>
          <p>
            Caring for a child, an older relative, or a disabled spouse can be a
            full-time job with no salary or benefits. With little time to earn
            income, caregivers often seek food assistance to help them get by.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="shocks" contentId="caretaking" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            It's hard to find care for disabled children and adults who are not
            yet seniors. Family members providing care often have to cut back on
            their work hours. This reduces a family's ability to buy healthy
            food. Households with disabled individuals are two to three times
            more likely to be food insecure.{%include footnote.html number=50%}
          </p>
        </div>
      </div>

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Natural disasters hit the poor the hardest</h3>
          <p>
            California is prone to natural disasters like fires, droughts, and
            earthquakes. The impact of a disaster on low-income
            communities can be catastrophic, revealing how many people were
            living on the edge. They may have been able to just make
            ends meet, but had limited insurance and a very small rainy day fund
            to buffer losses like having to move and find a new job. Following a
            disaster, food assistance is an important form of aid, in addition
            to FEMA and unemployment insurance. These programs help lower income
            people with the support they need to get back on their feet.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="shocks" contentId="disasters" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            As the stories above convey, CalFresh provides a critical line of
            support to those experiencing displacement from natural disasters.
            In the fall of 2018, catastrophic fires across California put many
            residents who were just getting by into a crisis, leading thousands
            to seek out food assistance.
          </p>
        </div>
      </div>
    </section>

    <section id="calfresh">
      {% include hero_header.html sectionId="calfresh" title="How CalFresh helps" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            One in five Californians lives in poverty once the state's high cost
            of living is taken into account.{% include footnote.html number=51 %}
            CalFresh helps millions of California workers in low-paying jobs buy
            healthy food during a time of need.
          </p>
        </div>
      </div>

      {% include quotes.html sectionId="calfresh" contentId="how_it_helps" %}

      <div class="content-outer">
        <div class="content-inner">
          <p>
            Users tell us that CalFresh helped them through a challenging time.
            They also acknowledge that they had to overcome stigma in order to
            apply. Yet, taken together, their stories remind us that the stigma
            around food assistance is based on myths. First, most people don't
            want to live on government assistance. They want to be independent.
            They feel ashamed that they need help. Second, our users' stories
            show that people need assistance because of setbacks that could
            happen to anyone. Generally, people fall into poverty and apply for
            food assistance because of adverse circumstances and life events,
            not because of their work ethic.{% include footnote.html number=52 %}{% include footnote.html number=53 %}{% include footnote.html number=54 %}
            The research shows that individual financial vulnerability and
            crisis are products of our society. Yet, to the people who were
            barely getting by before a job loss, illness, or a natural disaster,
            their hardships may feel unique, inviting feelings of shame and
            isolation. The stories our users have shared remind us that those
            who need help are not alone in their circumstances, nor in their
            desire to get back on their feet.
          </p>
          <p>
            <strong>GetCalFresh user stories remind us that the vast majority of
            people want to be self-sufficient.</strong> Research shows that over
            half of SNAP recipients who can work are working and that over 80%
            worked within 12 months of receiving SNAP. People often turn to SNAP
            when one household member becomes underemployed or loses a job
            &mdash; SNAP reduces food insecurity and stabilizes finances during
            these transitions.{% include footnote.html number=55 %} College
            students and new entrants to the labor force rely on SNAP as they
            build up their skills and increase their earnings potential,
            precisely so that they can avoid the job volatility and wage
            stagnation that our users in working families often describe.{% include footnote.html number=56 %}
            Our users, just like the vast majority of Americans, express a
            strong desire for independence and self-determination.{% include footnote.html number=57 %}
          </p>
        </div>
      </div>

      <div class="content-outer">
        <div class="content-inner heading">
          <h3>Research shows that SNAP is effective at reducing poverty</h3>
          <p>
            In 2016, CalFresh alone reduced the federal poverty rate in
            California by 2.1 percentage points.{% include footnote.html number=58 %}
            Unlike many safety net programs that benefit people in the middle of
            the income distribution, over 90% of SNAP benefits go to individuals
            below the federal poverty line.{% include footnote.html number=59 %}
          </p>
          <p>
            Hunger is expensive for everyone. The healthcare costs attributed to
            hunger totaled over $160 billion in America in 2014.{% include footnote.html number=60 %}
            That year, federal and state SNAP spending nationwide was $74.2
            billion. Numerous studies conclude that the SNAP program increases
            food security and improves health.{% include footnote.html number=61 %}{% include footnote.html number=62 %}{% include footnote.html number=63 %}{% include footnote.html number=64 %}
            Research has found that SNAP has particularly strong health benefits
            for young children. For example, SNAP reduces their risk of
            developing "metabolic syndrome", which can cause diabetes, obesity,
            and heart disease. SNAP also improves the health of babies at birth.{% include footnote.html number=65 %}{% include footnote.html number=66 %}
            Recent rigorous work shows that people don't replace their cash food
            budget with SNAP funds, they use SNAP funds to buy more food. Each
            SNAP dollar translates into 50-60 cents of additional total
            household spending on food.{% include footnote.html number=67 %}
          </p>
          <p>
            <strong>SNAP is an economic investment.</strong> SNAP not only helps
            individuals make it through a difficult time, it energizes the local
            economy. When the economy is weak, SNAP is one of the strongest
            stimuli in the government's toolkit. During early 2009, each dollar
            spent on SNAP translated into $1.74 of economic activity.{% include footnote.html number=68 %}
            As California Food Policy Advocates' <a target="_blank" href="https://cafoodpolicyadv.maps.arcgis.com/apps/MapJournal/index.html?appid=c36f06b717cc47dc91006c41f41fb101">"lost dollars, empty plates"</a>
            campaign illustrates, closing the participation gap would bring
            large economic gains to all California counties.
          </p>
          <p>
            It's important to combat the stigma around food assistance. It's in
            no one's interest for people to wait to apply, or never apply,
            because they are ashamed to need help during hard times.
          </p>
        </div>
      </div>
    </section>

    <section id="explore">
      <div class="section-header">
        <div class="section-header-outer">
          <div class="section-header-inner">
            <h2>Explore counties</h2>
            <p>
              Click on the map to view county statistics and read stories from
              real CalFresh recipients across California
            </p>
            {% include share.html %}
          </div>
        </div>
      </div>

      <div class="map-container">
        <div class="map-inner">
          <div class="map-info"></div>
          <div class="map">
            <div id="california-map"></div>
          </div>
          <div style="clear: both;"></div>
        </div>
      </div>
      {% include resources.html %}
    </section>
