---
layout: default
title: Instability
id: instability
---

      <section class="top">
        <div class="hero instability">
          <h1>Instability</h1>
          <h2>Many Californians struggle to make ends meet</h2>
        </div>
      </section>

      <section class="content">
        <p>
          Food assistance is a way of coping with a challenge that almost
          everyone is familiar with: making ends meet. Despite its size and
          economic diversity, California is the fourth most expensive place to
          live in the country, after Hawaii, Washington DC, and New York. While
          eligibility for SNAP is based on the federal poverty line (which is
          the same across all states) Californians has the fourth highest cost
          of living in the nation.<a href="https://www.bea.gov/data/prices-inflation/regional-price-parities-state-and-metro-area"><sup>[1]</sup></a>
          If cost of living is taken into account, California has the highest
          poverty rate of any state.<a href="https://www.census.gov/content/dam/Census/library/publications/2016/demo/p60-258.pdf"><sup>[2]</sup></a>
        </p>
      </section>

      <section class="stats-boxes instability">
        <h3>In California...</h3>
        <div class="stats-box">
          <span class="title">1 in 10</span>
          <span class="body">Californians receive CalFresh</span>
        </div>
        <div class="stats-box">
          <span class="title">1 in 5</span>
          <span class="body">seniors age 65+ live in poverty</span>
        </div>
        <div class="stats-box">
          <span class="title">12%</span>
          <span class="body">struggle to put food on the table</span>
        </div>
        <div class="stats-box">
          <span class="title">1 in 5</span>
          <span class="body">children live in poverty</span>
        </div>
        <div style="clear:both;"></div>
        <span class="stats-source">Source: <a href="https://www.cbpp.org/research/policy-basics-the-supplemental-nutrition-assistance-program-snap">CBPP</a></span>
      </section>

      <section class="content">
        <p>
          These economic circumstances mean that many people have no buffer if
          they suddenly incur a large expense or lose income. It is not
          surprising that the most common dilemma GetCalFresh applicants mention
          in their applications is not being able to afford food after paying
          for rent, utilities, and gas or public transit fare to get to work.
          <strong>In their applications for food assistance, about three in five
            of our applicants report having less than $100 on hand after monthly
            expenses. </strong>
        </p>
      </section>

      <section class="content heading">
        <h3>Working parents use CalFresh to feed their families</h3>
        <p>
          Most of the people receiving CalFresh benefits who can work, do work.
          But they often work in low-wage jobs like retail, the restaurant
          industry, home health, or construction. These jobs often have unsteady
          hours that can leave workers in financially unstable situations. They
          also lack benefits and flexibility, which can mean frequent job losses
          and gaps between jobs if transportation or child care falls through.
          When food assistance is taken away from parents, that means fewer
          groceries, which negatively impacts the health of the whole family.
        </p>
      </section>

      {% include quotes.html pageId="instability" contentId="parents" %}

      <section class="content">
        <p>
          Despite their efforts, parents often struggle to provide healthy food
          for their kids. The median GetCalFresh parent works 38 hours a week,
          earning $14.70 an hour. In fact, 66% of GetCalFresh households with
          children include someone who is working. Nationally, 65% of SNAP
          households with children include someone who is working.<a href="#"><sup>[1]</sup></a>
        </p>
        <p>
          The testimonials of these parents echo the research findings. In
          interviews with 90 families with children receiving SNAP benefits,
          academics found that about half restricted their own eating to make sure
          their children would have enough food.footnote In the U.S. in 2017,
          15.7% of households with children were food insecure.<a href="#"><sup>[1]</sup></a><a href="#"><sup>[2]</sup></a>
          In about 45% of these households (or 7% of all U.S. households), adults
          reported skipping meals or cutting the size of a meal in the last 30
          days.<a href="#"><sup>[3]</sup></a>
        </p>
      </section>

      <section class="content heading">
        <h3>Young people rely on CalFresh when trying to finish school or start their careers</h3>
        <p>
          For college and graduate students, paying for food and rent can make
          it that much harder to finish school. Recent college or high school
          grads who are just starting their careers often aren't paid enough to
          meet their basic needs.
        </p>
      </section>

      {% include quotes.html pageId="instability" contentId="students" %}

      <section class="content">
        <p>
          Students often take desperate measures to stay fed: they join clubs
          for the food, participate in research for cash, and ask friends to
          swipe them into the dining hall. In some counties, a large share of
          the applicants GetCalFresh sees are students. For example, students
          account for 60.7% of applications in Santa Cruz County and 58% of
          applications in Yolo County.
        </p>
        <p>
          For recent high school or college grads entering the workforce,
          CalFresh serves as a bridge that gets them through the least secure,
          lowest-paid time of their careers. This is easy to see in the data:
          GetCalFresh applicants below age 30 work four fewer hours a week,
          and earn two dollars less per hour, than applicants in their thirties
          (the latter work a median of 36 hours a week at $15 per hour).
          Moreover, 46.1% of applicants under age 30 live by themselves,
          compared to only 28.5% of applicants in their thirties.<a href="#"><sup>[1]</sup></a>
        </p>
      </section>

      <section class="content heading">
        <h3>Many seniors need help buying food, but are especially affected by stigma</h3>
        <p>
          Saving enough to have a stable retirement income is more and more
          challenging these days. Seniors, who are often on this kind of fixed
          income, can especially benefit from food assistance. Yet they
          represent the population with the greatest gap between their
          eligibility for CalFresh and their enrollment in the program, due in
          large part to stigma. <a href="#"><sup>[1]</sup></a><a href="#"><sup>[2]</sup></a><a href="#"><sup>[3]</sup></a><a href="#"><sup>[4]</sup></a>
          Perhaps unsurprisingly, many GetCalFresh applicants who are seniors
          describe a recent job loss or seeking employment as a reason for
          applying.
        </p>
      </section>

      {% include quotes.html pageId="instability" contentId="seniors" %}

      <section class="content">
        <p>
          Of applicants who are 60 or older and working, two in three work at
          least 20 hours a week. In California, the average monthly benefit for a
          senior is $158, making it especially worth their while to apply.<a href="#"><sup>[1]</sup></a>
          Yet the gap between senior participation and eligibility suggests that
          seniors are one of the most reluctant groups to seek out food
          assistance. Nationally, SNAP reaches 85% of all eligible individuals,
          but only 45% of eligible seniors footnote. In California, the disparity
          is worse: SNAP reaches 70% of eligible people, but only 18% of eligible
          seniors.<a href="#"><sup>[2]</sup></a>
        </p>
      </section>
