---
layout: default
title: Common Shocks
id: shocks
---

      <section class="top">
        <div class="hero shocks">
          <h1>Common Shocks</h1>
          <h2>Common shocks that create a need for CalFresh</h2>
        </div>
      </section>

      <section class="content">
        <p>
          Up to this point, we've focused on stories from some of our largest
          groups of applicants: working families, students or young people
          starting their careers, and seniors. They convey stress. Their
          households have no slack in their incomes — they already cannot keep
          up with the bare necessities. A single car accident, medical
          emergency, or unexpected layoff can break the budget for months, often
          forcing them to choose between food, housing, or medical care. In this
          section, we examine some of the common shocks that lead already
          vulnerable individuals to seek out CalFresh.
        </p>
        <p>
          Academic researchers lump shocks that lead to food (and financial)
          insecurity into simple categories: as sharp increases in expenses or
          reductions in income.<a href="https://fns-prod.azureedge.net/sites/default/files/SNAPFoodSec.pdf"><sup>[1]</sup></a><a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/j.1741-3737.2010.00713.x"><sup>[2]</sup></a>
          In this section, we'll describe a few of the more common shocks our
          applicants describe. They include losing a job, the high costs of
          illness or injury, or having to stay home to take care of a family
          member. Natural disasters, while less frequent, can also be a shock -
          in recent months, thousands of people have applied due to being
          displaced by California's wildfires.
        </p>
      </section>

      <section class="stats-boxes shocks">
        <h3>For adults under age 60 who live alone...</h3>
        <div class="stats-box">
          <span class="title">27.3%</span>
          <span class="body">lost a job in the last 30 days</span>
        </div>
        <div class="stats-box">
          <span class="title">65%</span>
          <span class="body">of the rest are employed</span>
        </div>
        <div class="stats-box">
          <span class="title">80.9%</span>
          <span class="body">who have a job work at least 20 hours a week</span>
        </div>
        <div class="stats-box">
          <span class="title">17.2%</span>
          <span class="body">have a job that gives them 40+ hours per week</span>
        </div>
        <div style="clear:both;"></div>
        <span class="stats-source">Source: <a href="https://www.cbpp.org/research/policy-basics-the-supplemental-nutrition-assistance-program-snap">CBPP<a/></span>
      </section>

      <section class="content">
        <h3>Job loss is the most common reason for applying</h3>
        <p>
          For people who are already struggling financially, a job loss or
          reduction in hours is often the shock that makes food assistance
          necessary.
        </p>
      </section>

      {% include quotes.html pageId="shocks" contentId="job_loss" %}

      <section class="content">
        <p>
          People who apply for food assistance often have experienced a
          hardship that causes them to slip into poverty. Roughly 2 in 5
          households that fall into poverty do so because of the loss of a job.
          Nearly half (47%) of households that exit poverty will do so because
          of a new job. <a href="#"><sup>[1]</sup></a>
        </p>
        <p>
          When transitioning between jobs, CalFresh reduces stress around food
          availability and the pressure to make costly trade-offs to get by.
          Clients share stories about dire choices they have to make like
          selling a car in a rush or using rent money for food and being
          evicted. The most common reason applicants tell us for no longer
          needing food assistance is that they went from unemployed to employed,
          found a better job, or got more hours. CalFresh provides the stability
          to find more regular hours, or a higher paying job.
        </p>
      </section>

      <section class="content heading">
        <h3>Illness and injury are often destabilizing events</h3>
        <p>
          Not everyone has a plan when serious illness or disability strikes.
          Taking time away from work and managing medical bills add to the
          financial strain of Californians living close to poverty line.
        </p>
      </section>

      {% include quotes.html pageId="shocks" contentId="medical" %}

      <section class="content">
        <p>
          Twenty-eight percent of non-elderly adults on SNAP have a disability.<a href="#"><sup>[1]</sup></a>
          Yet, because most disability benefit applications (SSI or SSDI) are
          rejected on their first attempt and it often takes two years to get
          approved, many rely on SNAP in the interim. Research shows that of
          people who are disabled and on SNAP, two in five do not receive SSI or
          SSDI.<a href="#"><sup>[2]</sup></a>
        </p>
      </section>

      <section class="content heading">
        <h3>Choosing between caring for a family member and working</h3>
        <p>
          GetCalFresh applicants often describe how much time they spend caring
          for a disabled spouse, child, or older relative. Caretaking can be a
          full-time job, but is often unpaid and lacks benefits. It leaves many
          with an inflexible schedule to find times they can earn income.
        </p>
      </section>

      {% include quotes.html pageId="shocks" contentId="caretaking" %}

      <section class="content">
        <p>
          It's hard to find care for disabled children and middle-aged adults.
          Long-term care facilities are expensive, and limit options for older
          family members. Family members providing caretaking support often have
          to cut back on their work hours and income. This decreases a family's
          ability to buy healthy food.<a href="#"><sup>[1]</sup></a>
          As a result, households with disabled people are two to three times
          more likely to be food insecure.<a href="#"><sup>[2]</sup></a>
        </p>
      </section>

      <section class="content heading">
        <h3>Natural disasters often hit the poor the hardest</h3>
        <p>
          California is prone to natural disasters like fires, droughts, and
          earthquakes. The impact of disaster on low-income communities can be
          catastrophic and reveal how many people were financially insecure.
          They may have had enough money to get by, but limited insurance or a
          very small rainy day fund. Many are forced to use already limited
          assets to buffer losses like moving to a new area to find a job or
          home to rent. Following a disaster, aid normally comes in the form of
          FEMA, unemployment insurance, and food assistance. People who were
          better off financially often recover more quickly, while others need
          more support to get back on their feet.
        </p>
      </section>

      {% include quotes.html pageId="shocks" contentId="disasters" %}
