<div id="footer-share">
  <div id="footer-share-content">
    <div id="footer-share-heading">
      <img src="../images/megaphone.png" width="117" height="104"/>
      <h2>Let's change the narrative</h3>
    </div>
    <div id="footer-share-body">
      You've seen new data, heard stories directly from GetCalFresh users &mdash;
      help us by sharing these stories with others in your field.
    </div>
    <div id="footer-share-icons">
      <img id="footer-share-email" src="../images/share-email.png" width="47" height="48"/>
      <img id="footer-share-twitter" src="../images/share-twitter.png" width="47" height="48"/>
      <img id="footer-share-facebook" src="../images/share-facebook.png" width="47" height="48"/>
    </div>
  </div>
</div>

<div id="footer-go">
  <div id="footer-go-content">
    <img src="../images/gcf-logo-white.png" width="44" height="45"/>
    <div id="footer-go-body">
      Know someone who needs help paying for food?
    </div>
    <a target="_blank" href="https://getcalfresh.org?source=microsite">See how GetCalFresh can help</a>
  </div>
</div>

<div id="footer-end">
  <div id="footer-credits-content">
    <div id="footer-credits-contributors">
      <h5>Credits</h5>
      <ul>
        <li><a target="_blank" href="https://www.codeforamerica.org/people/eric-giannella">Eric Giannella</a>, content and research</li>
        <li><a target="_blank" href="https://www.codeforamerica.org/people/julie-sutherland">Julie Sutherland</a>, layout, design, and illustration</li>
        <li><a target="_blank" href="https://www.codeforamerica.org/people/lou-moore">Lou Moore</a>, web development</li>
      </p>
    </div>
    <div id="footer-credits-thanks">
      <p>
        We couldn’t have done it without help from our colleagues
        <a target="_blank" href="https://www.codeforamerica.org/people/fritz-jooste">Fritz Jooste</a>,
        <a target="_blank" href="https://www.codeforamerica.org/people/caitlin-docker">Caitlin Docker</a>,
        <a target="_blank" href="https://www.codeforamerica.org/people/gwen-rino">Gwen Rino</a>,
        <a target="_blank" href="https://www.codeforamerica.org/people/jahvita-rastafari">Jahvita Rastafari</a>,
        and <a target="_blank" href="https://www.codeforamerica.org/people/ruthie-reisner">Ruthie Reisner</a>.
        Many thanks to our academic, non-profit, and government friends for
        their feedback and suggestions. We are grateful to our hundreds of users
        who agreed to anonymously share their stories in order to combat the
        stigma around food assistance.
      </p>
    </div>
  </div>
  <div id="footer-license-content">
    <div id="footer-license-body">
      <p>
        This content is licensed under a Creative Commons Attribution 4.0
        International License.
      </p>
      <p>
        You may republish content from this website, so long as you credit Code
        for America, and do not change the content. Please include a link back
        to the original website.
      </p>
      <p>
        Code for America, 2019
      </p>
    </div>
    <a target="_blank" href="https://codeforamerica.org">
      <img src="../images/cfa-logo-white.png" width="109" height="43"/>
    </a>
  </div>
</div>
