{%- assign footnoteIndex = include.number -%}
{%- assign footnote = site.data.footnotes[footnoteIndex] -%}
{%- capture linkTag -%}
<a target='_blank' href='{{footnote.link}}'>{{footnote.text}}</a>
{%- endcapture -%}
{%- if footnote.author and footnote.year and footnote.text and footnote.link and footnote.publication -%}
  {%- capture footnoteContent -%}
  {{footnote.author}} {{footnote.year}} {{linkTag}} {{footnote.publication}}
  {%- endcapture -%}
{%- elsif footnote.author and footnote.year and footnote.text and footnote.link -%}
  {%- capture footnoteContent -%}
  {{footnote.author}} {{footnote.year}} {{linkTag}}
  {%- endcapture -%}
{%- elsif footnote.author and footnote.text and footnote.link -%}
  {%- capture footnoteContent -%}
  {{footnote.author}} {{linkTag}}
  {%- endcapture -%}
{%- elsif footnote.text -%}
  {%- assign footnoteContent = footnote.text -%}
{%- endif -%}

<sup><span class="footnote" title="{{footnoteContent}}">[{{footnoteIndex}}]</span></sup>
