<div id="footer-share">
  <div id="footer-share-content">
    <div id="footer-share-heading">
      <img src="../images/megaphone.png" width="117" height="104"/>
      <h2>Let's correct the facts!</h3>
    </div>
    <div id="footer-share-body">
      You've seen new data, heard stories directly from CalFresh applicants
      &mdash; help us by sharing these stories with others in your field.
    </div>
    <div id="footer-share-icons">
      <a target="_blank" href="mailto:?subject=Code for America: {{page.title}}&body=CalFresh helps people through
      challenging times in their lives. This site shares their stories, by Code for America: https://gcf-microsite.herokuapp.com/">
        <img src="../images/share-email.png" width="47" height="48"/>
      </a>
      <a target="_blank" href="https://twitter.com/intent/tweet?text=Test&url=https://gcf-microsite.herokuapp.com/&hashtags=feedthepeople,civictech">
        <img src="../images/share-twitter.png" width="47" height="48"/>
      </a>
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://gcf-microsite.herokuapp.com/">
        <img src="../images/share-facebook.png" width="47" height="48"/>
      </a>
    </div>
  </div>
</div>

<div id="footer-go">
  <div id="footer-go-content">
    <img src="../images/gcf-logo-white.png" width="44" height="45"/>
    <div id="footer-go-body">
      Know someone who needs help paying for food?
    </div>
    <a href="https://getcalfresh.org?source=microsite">Go to GetCalFresh.org</a>
  </div>
</div>

<div id="footer-license">
  <div id="footer-license-content">
    <div id="footer-license-body">
      <p>
        This content is licensed under a Creative Commons Attribution 4.0
        International License.
      </p>
      <p>
        You may republish content from this website, so long as you credit Code
        for America, and do not change the content. Please include a link back
        to the original website.
      </p>
      <p>
        Code for America, 2019
      </p>
    </div>
    <a href="https://codeforamerica.org">
      <img src="../images/cfa-logo-white.png" width="109" height="43"/>
    </a>
  </div>
</div>
