<header class="stickynav">
  <nav>
    <div class="nav-outer">
      <a class="smint-nav-item nav-item" href="#intro">Intro</a>
      <a class="smint-nav-item nav-item" href="#instability">Barely Getting By</a>
      <a class="smint-nav-item nav-item" href="#shocks">Setbacks & Crisis</a>
      <a class="smint-nav-item nav-item" href="#calfresh">How CalFresh Helps</a>
      <a class="smint-nav-item nav-item" href="#explore">Explore Counties</a>
      <a href="#cd-navigation" class="nav-trigger">
        <span>
          <em aria-hidden="true"></em>
        </span>
      </a>
    </div>
    <div class="nav-dropdown">
      <a class="nav-dropdown-item" href="#instability">Barely Getting By</a>
      <a class="nav-dropdown-item" href="#shocks">Setbacks & Crisis</a>
      <a class="nav-dropdown-item" href="#calfresh">How CalFresh Helps</a>
      <a class="nav-dropdown-item" href="#explore">Explore Counties</a>
    </div>
  </nav>
</header>
