<div class="myths">
  <div class="myths-outer">
    <div class="myths-inner">
      <h3>The myths of food assistance</h3>
      <div class="myth-table">
        {% assign myth_index = 0 %}
        {% for item in site.data.myths %}
        <div class="myth-row">
          <div class="myth-summary" id="myth-summary-{{myth_index}}">
            <div class="myth-summary-left">
              <div class="myth-summary-top">
                <div class="myth-summary-top-label">Myth</div>
                <div class="myth-summary-top-content">{{item.myth}}</div>
              </div>
              <div class="myth-summary-bottom">
                <div class="myth-summary-bottom-label">Fact</div>
                <div class="myth-summary-bottom-content">{{item.fact}}</div>
              </div>
            </div>
            <div class="myth-summary-right">
              <div class="myth-expander" id="myth-expander-{{myth_index}}">
              </div>
            </div>
          </div>
          <div class="myth-detail" id="myth-detail-{{myth_index}}">
            {{item.detail}}
          </div>
        </div>
        {% assign myth_index = myth_index | plus:1 %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
