<div class="resources">
  <div class="resources-outer">
    <div class="resources-inner">
      <div class="resources-table">
        <div class="resources-row" id="resources">
          <div class="resources-row-header">
            <div class="resources-title">
              <h3>Resources</h3>
            </div>
            <div class="resources-expander" id="resources-expander-resources">
            </div>
          </div>
        </div>
        <div class="resources-content" id="resources-content-resources">
          <h4>Experts on SNAP</h4>
          <ul>
            <li><a target="_blank" href="https://cfpa.net/calfresh/">California Food Policy Advocates</a></li>
            <li><a target="_blank" href="https://www.cbpp.org/topics/food-assistance">Center on Budget Policies and Priorities</a></li>
            <li><a target="_blank" href="http://frac.org/programs/supplemental-nutrition-assistance-program-snap">Food Research and Action Network</a></li>
            <li><a target="_blank" href="https://www.mathematica-mpr.com/our-focus-areas/nutrition/nutrition-and-food-assistance-programs">Mathematica</a></li>
            <li><a target="_blank" href="http://www.ppic.org/publication/the-calfresh-food-assistance-program/">Public Policy Institute of California</a></li>
            <li><a target="_blank" href="https://www.spra.com/areas-of-expertise/human-services/#collapseOne">Social Policy Research Associates</a></li>
            <li><a target="_blank" href="https://www.urban.org/research-area/supplemental-nutrition-assistance-program-snap">Urban Institute</a></li>
            <li><a target="_blank" href="https://www.fns.usda.gov/ops/research-and-analysis">US Department of Agriculture</a></li>
          </ul>
          <h4>Efforts to combat stigma around food assistance</h4>
          <ul>
            <li>CityLab <a target="_blank" href="https://www.citylab.com/design/2018/07/how-the-other-half-eats/566411/">How the Other Half Eats</a></li>
            <li><a target="_blank" href="http://www.thisissnap.org/">This is SNAP</a></li>
            <li>FERN <a target="_blank" href="https://thefern.org/2012/08/the-faces-of-food-stamps/">The Faces of Food Stamps</a></li>
            <li>Center for American Progress <a target="_blank" href="https://d3b0lhre2rgreb.cloudfront.net/ms-content/uploads/sites/9/2015/10/07191013/CommunityVoices-web-003.pdf">Community Voices: Why Nutrition Assistance Matters</a></li>
            <li>A Place at the Table <a target="_blank" href="http://www.takepart.com/place-at-the-table/snap-alumni/index.html">(film and website)</a></li>
          </ul>
          <h4>Resources about stigma</h4>
          <ul>
            <li>Mobility Partnership <a target="_blank" href="https://www.mobilitypartnership.org/changing-narrative">Changing the Narrative</a></li>
            <li>New America <a target="_blank" href="https://www.newamerica.org/family-centered-social-policy/policy-papers/inclusion-design/">Inclusion by Design</a></li>
            <li>Turn2Us <a target="_blank" href="https://www.turn2us.org.uk/About-Us/Media-Centre/Research-and-Insights/Benefits-Stigma-in-Britain">Benefits Stigma in Britain</a></li>
            <li>FrameWorks Institute on <a target="_blank" href="http://frameworksinstitute.org/human-services1.html">reducing stigma around human services</a></li>
            <li>National Council on Aging <a target="_blank" href="https://www.ncoa.org/wp-content/uploads/An-End-to-Stigma-Issue-Brief-NCOA.pdf">An End to Stigma</a></li>
          </ul>
          <h4>Selected news articles</h4>
          <ul>
            <li>The Atlantic. 2012. <a target="_blank" href="https://www.theatlantic.com/health/archive/2012/07/the-economic-case-for-food-stamps/260015/">The Economic Case for Food Stamps</a></li>
            <li>LA Times. 2016. <a target="_blank" href="http://www.latimes.com/projects/la-na-pol-poverty-poll/">How Do Americans View Poverty?</a></li>
            <li>Forbes. 2018. <a target="_blank" href="https://www.forbes.com/sites/johnzogby/2018/07/27/your-next-door-neighbor-may-have-food-insecurity">Your Next-Door Neighbor May Have Food Insecurity</a></li>
            <li>Vox. 2018. <a target="_blank" href="https://www.vox.com/2018/9/12/17850426/census-poverty-income-2017-trump">Social Security, Food Stamps, and Other Programs Kept 44 Million People out of Poverty Last Year</a></li>
          </ul>
        </div>
        <div class="resources-row" id="references">
          <div class="resources-row-header">
            <div class="resources-title">
              <h3>References</h3>
            </div>
            <div class="resources-expander" id="resources-expander-references">
            </div>
          </div>
        </div>
        <div class="resources-content" id="resources-content-references">
          <ul>
            {% capture footnoteTempList %}
              {%- for footnoteDictionary in site.data.footnotes -%}{%-if footnoteDictionary[1]['author']}-%}{{footnoteDictionary[1]['author']}},{{footnoteDictionary[1]['year']}},{{footnoteDictionary[1]['link']}},{{footnoteDictionary[1]['text']}},{{footnoteDictionary[1]['publication']}};{%-endif-%}{%-endfor-%}
            {% endcapture %}
            {% assign footnoteList = footnoteTempList | split:";" | uniq | sort_natural %}
            {% for footnoteString in footnoteList %}
              {% assign footnote = footnoteString | remove: ";" | split:"," %}
              <li>
                <a target='_blank' href='{{footnote[2]}}'>{{footnote[0]}} {{footnote[1]}} "{{footnote[3]}}" {{footnote[4]}}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
