<script type="text/javascript">

  $(document).ready( function() {
    const countyMap = new gcf.MapboxMap();
    const myths = new gcf.Myths();
    const resources = new gcf.Resources();
    const social = new gcf.Social();
    const quoteExplorer = new gcf.QuoteExplorer();
    const wow = new WOW().init();
    const tooltips = new gcf.Tooltips();
    const navigation = new gcf.Navigation();
  });

  $(window).on("load", function() {
    // Animate the intro background in and pulse the scroll button on ready
    $('div.intro-header-outer').animate({opacity: 1}, 1200, function() {
      $('div.intro-header-inner').animate({opacity: 1}, 1000, function() {
        $('div.scroll-tip').addClass("animated heartBeat long");
      });
    });
  });

</script>
