<script type="text/javascript">

  $(document).ready( function() {
    var scrolling = false,
        header = $('.stickynav'),
        headerHeight = header.height(),
    		previousTop = 0,
    		currentTop = 0,
    		scrollDelta = 10;

    const countyMap = new MapboxMap();
    const myths = new Myths();
    const social = new Social();
    const quoteExplorer = new QuoteExplorer();
    const wow = new WOW().init();

    // Food assistance tooltip/callout
    $('.callout').tooltip({
      position: {
        my: "left top+30", at: "center-65 bottom", collision: "flipfit",
        using: function( position, feedback ) {
          $(this).addClass(feedback.vertical).css( position);
        }
      },
      close: function (event, ui) {
        ui.tooltip.hover(
          function () {
            $(this).stop(true).fadeTo(400, 1);
          },
          function () {
            $(this).fadeOut("400", function () {
              $(this).remove();
            })
          }
        );
      },
      content: "<strong>Food Assistance in California (CalFresh/SNAP)</strong>\
      <div style='margin-top: 10px;'>SNAP is the Supplemental Nutrition Assistance Program, which\
      is funded by the federal government and administered by the states.\
      In California, it’s known as CalFresh. To qualify, individuals must\
      make less than 130% (200% in CA) of the Federal Poverty Level pre-tax\
      AND less than 100% of the poverty level after taxes and deductions.\
      For a household of two, that’s a monthly income of $1,784 before\
      taxes and $1,372 after taxes. footnote The program provides a maximum\
      of $353 per month for a household of two. Funds are distributed via\
      Electronic Benefit Transfer (EBT) cards that look and function like a\
      debit card.</div>",
    });

    $('.footnote').tooltip({
      content: function () {
        return $(this).prop('title');
      },
      position: {
        my: "left-58 top+30", at: "center bottom", collision: "flipfit",
        using: function( position, feedback ) {
          $(this).addClass(feedback.vertical).addClass((feedback.element.left + 60 >= feedback.target.left ? 'left' : 'right')).css( position);
        }
      },
      close: function (event, ui) {
        ui.tooltip.hover(
          function () {
            $(this).stop(true).fadeTo(400, 1);
          },
          function () {
            $(this).fadeOut("400", function () {
              $(this).remove();
            })
          }
        );
      }
    });

    $('.quote-content__scroller').scroll(function() {
        if($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
          $(this).parent().addClass('scrolled');
        } else {
          $(this).parent().removeClass('scrolled');
        }
    });

    // Scroll-top in top section
    $('.scroll-tip').click(function() {
      var goTo =  $('div#intro-content').position().top - headerHeight;
      $("html, body").stop().animate({ scrollTop: goTo }, 1500);
    });

    // Navigation
    header.on('click', '.nav-trigger', function(event){
      // open primary navigation on mobile
      event.preventDefault();
      $('nav').toggleClass('nav-open');
    });

    $(window).on('DOMContentLoaded load resize', function () {
      if ($(window).innerWidth() <= 768) {
        // Remove the smint plugin in favor of a responsive nav
        $('.stickynav').removeClass('smint');
        $('.stickynav').removeClass('fxd');
        $('.stickynav').removeAttr("style");

        // Click handler for the responsive nav items
        $('.nav-dropdown-item').on('click', function(e){
          e.preventDefault();
          var hash = $(this).attr('href').split('#')[1];
          var goTo =  $('section#'+ hash).offset().top - headerHeight;
          scrolling = true;
          $("html, body").stop().animate({ scrollTop: goTo }, 1500, function() {
            $('nav').removeClass('nav-open');
            scrolling = false;
          });
        });

        // Click handler for the logo, which needs an extra offset since the
        // header will be visible at the top
        $('.nav-logo').on('click', function(e){
          e.preventDefault();
          var hash = $(this).attr('href').split('#')[1];
          var goTo =  $('section#'+ hash).offset().top - headerHeight;
          $("html, body").stop().animate({ scrollTop: goTo }, 1500, function() {
            $('nav').removeClass('nav-open');
          });
        });
      } else if(!$('.stickynav').hasClass('smint')) {
        // The smint plugin takes care of single-page scrolling and tracking
        // the active section when we are using the full size nav
        $('.stickynav').smint({
          'mySelector': 'section',
          'scrollSpeed' : 1500
        });
      }
    });

    $(window).on('resize', function(){
  		headerHeight = header.height();
  	});

    // Change nav bar color and hide mobile nav on scroll
    $(window).on('scroll', function(){
      if( !scrolling) {
        scrolling = true;
        (!window.requestAnimationFrame)
          ? setTimeout(adjustHeader, 250)
          : requestAnimationFrame(adjustHeader);
      }
    });

    // Animate the intro background in and pulse the scroll button on load
    $(window).on("load", function() {
      $('div.intro-header-outer').animate({opacity: 1}, 1200, function() {
        $('div.intro-header-inner').animate({opacity: 1}, 1000, function() {
          $('div.scroll-tip').addClass("animated heartBeat long");
        });
      });
      adjustHeader();
    });

    // Methods for adjusting the header
    function adjustHeader() {
      if($(window).innerWidth() <= 768) {
        autoHideHeader();
      }

      if($(window).scrollTop() > $('section#instability').offset().top-140) {
        $('nav').addClass("scrolled");
      } else {
        $('nav').removeClass("scrolled");
      }

      if($(window).scrollTop() > 0) {
        $('header').addClass('scrolled');
        $('body').addClass('scrolled');
      } else {
        $('header').removeClass('scrolled');
        $('body').removeClass('scrolled');
      }
    };

  	function autoHideHeader() {
  		var currentTop = $(window).scrollTop();
      console.log(currentTop);

      if (previousTop - currentTop > scrollDelta) {
        //if scrolling up...
        $('.stickynav').removeClass('is-hidden');
      } else if( currentTop - previousTop > scrollDelta && currentTop > headerHeight) {
        //if scrolling down...
        $('.stickynav').addClass('is-hidden');
        $('nav').removeClass('nav-open');
      }
      previousTop = currentTop;
  		scrolling = false;
  	};
  });

</script>
