{% assign statsData = site.data.stats[include.sectionId] %}

<div class="stats">
  <div class="stats-outer">
    <div class="stats-inner {{include.sectionId}}">
      <h3>{{statsData.title}}</h3>
      <div class="stats-boxes-outer">
        <div class="stats-boxes-inner">
        {% for item in statsData.stats %}
            <div class="stats-box">
              <div class="tagline">{{item.tagline}}</div>
              <div class="title">{{item.title}}</div>
              <div class="body">{{item.body}}</div>
            </div>
        {% endfor %}
        </div>
      </div>
      {% if statsData.citations.size > 0 %}
        <div class="stats-source">
          {% if statsData.citations.size == 1 %}
            Source:
          {% else %}
            Sources:
          {% endif %}
          {% for citation in statsData.citations %}
            {% if citation.link.size > 0 %}
              &nbsp;<a target="_blank" href="{{citation.link}}">{{citation.text}}</a>
            {% else %}
              {{citation.text}}
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
