{% assign statsData = site.data.stats[include.sectionId] %}

<div class="stats">
  <div class="stats-outer">
    <div class="stats-inner {{include.sectionId}}">
      <h3>{{statsData.title}}</h3>
      <div class="stats-boxes">
      {% for item in statsData.stats %}
          <div class="stats-box">
            <div class="tagline">{{item.tagline}}</div>
            <div class="title">{{item.title}}</div>
            <div class="body">{{item.body}}</div>
          </div>
      {% endfor %}
      </div>
      {% for item in statsData.citations %}
        <span class="stats-source">{{item.citation}}</span><br/>
      {% endfor %}
    </div>
  </div>
</div>
