header {
  font-family: Rubik;
  height:76px;
  width: 100%;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

nav {
  height: 100%;
  background-color: $orange-lighter-color;
}

div.nav-outer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: $outer-content-width;
  margin: 0 auto;
  height: 100%;
}

nav.scrolled {
  background-color: $gray-light-color;
}

a {
  color: $orange-dark-color;
}

a.nav-item {
  color: $text-color;
  font-size: 18px;
  line-height: 23px;
  opacity: 0.6;
  margin-top: 3px;
  padding: 4px;
  text-decoration: none;
  border-bottom: 6px solid transparent;
}

a.nav-item:hover, a.nav-item.selected {
  border-bottom: 6px solid $orange-dark-color;
  opacity: 1;
}

a.nav-item.selected:hover {
  opacity: 1;
}

a.nav-trigger {
  display: none;
}

div.nav-dropdown {
  display: flex;
  max-height: 0;
  overflow: hidden;
  flex-direction: column;
  text-align: right;
  background-color: $orange-lighter-color;
  transition: max-height .25s ease-out;
}

/* Small screens */
@media only screen and (max-width: $tablet-content-width) {
  header {
    height: 64px;
    position: relative;
  }

  header.is-hidden {
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  header.scrolled {
    position: fixed;
  }


  #logo {
    height: 64px;
  }

  a.nav-item {
    display: none;
  }

  a.nav-trigger {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  a.nav-trigger {
    /* vertically align its content */
    display: table;
    height: 100%;
    padding: 0 1em;
    color: $text-color;
    right: 0;
    // border-left: 1px solid $orange-medium-color;
  }

  a.nav-trigger span {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
  }
  a.nav-trigger em, a.nav-trigger em::after, a.nav-trigger em::before {
    /* this is the menu icon */
    display: block;
    position: relative;
    height: 2px;
    width: 22px;
    background-color: $text-color;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }

  a.nav-trigger em {
    /* this is the menu central line */
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
  }

  a.nav-trigger em::before, a.nav-trigger em::after {
    position: absolute;
    content: '';
    left: 0;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
  }

  a.nav-trigger em::before {
    /* this is the menu icon top line */
    -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
            transform: translateY(-6px);
  }

  a.nav-trigger em::after {
    /* this is the menu icon bottom line */
    -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
            transform: translateY(6px);
  }

  div.nav-outer {
    justify-content: space-between;
  }

  nav.nav-open div.nav-outer a.nav-trigger em {
    /* transform menu icon into a 'X' icon */
    background-color: rgba(255, 255, 255, 0);
  }
  nav.nav-open div.nav-outer a.nav-trigger em::before {
    /* rotate top line */
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  nav.nav-open div.nav-outer a.nav-trigger em::after {
    /* rotate bottom line */
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  nav.nav-open div.nav-dropdown {
    border-bottom: 1px solid $orange-medium-color;
    max-height: 500px;
    transition: max-height .5s ease-in;
  }

  a.nav-dropdown-item {
    padding: 5px 10px;
    border-top: 1px solid $orange-medium-color;
    text-decoration: none;
    color: $text-color;
    font-size: 18px;
    line-height: 23px;
    opacity: 0.6;
  }

  a.nav-dropdown-item:focus {
    opacity: 1;
  }

  nav.scrolled div.nav-dropdown {
    background-color: $gray-light-color;
    border-color: $gray-dark-color;
  }

  nav.scrolled div.nav-dropdown a.nav-dropdown-item {
    border-color: $gray-dark-color;
  }
}
