/* General */
html, body {
  margin: 0;
  padding:0;
  width: 100%;
  overflow-x: hidden;
}

body {
  display:flex;
  flex-direction:column;
  font-family: SourceSansPro;
  font-size: 19px;
}

#main {
  flex-grow:1;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
  font-weight: bold;
}

h1 {
  font-family: Lora;
  font-size: 69px;
  line-height: 74px;
}

h2 {
  font-family: Lora;
  font-size: 38px;
  line-height: 52px;
}

h3 {
  font-family: IBMPlexSans;
  font-size: 28px;
  line-height: 37px;
}

h4 {
  font-family: IBMPlexSans;
  font-size: 24px;
  font-weight: 600;
}

/* Header & Navigation */
header {
  font-family: Rubik;
  height:76px;
  width: 100%;
  z-index: 10;
}

#logo {
  background-image: url(../images/gcf-logo.png);
  background-size: 36px 36px;
  background-position: center;
  background-repeat: no-repeat;
  width:64px;
  height:76px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  background-color: #FDF7F0;
}

nav.scrolled {
  background-color: #F7F7F7;
}

a {
  color: #EFA44C;
}

a.nav-item {
  color: $text-color;
  font-size: 18px;
  line-height: 23px;
  opacity: 0.6;
  margin-top: 3px;
  padding: 4px;
  text-decoration: none;
}

a.nav-item:hover, a.nav-item.selected {
  border-bottom: 6px solid #EFA44C;
  opacity: 1;
}

a.nav-item.selected:hover {
  opacity: 1;
}

/* Sections and Standard Section Header */
section#explore {
  background-color: #F7F7F7;
}

div.section-header {
  width: 100%;
}

div.section-header-outer {
  position: relative;
  margin: 0 auto;
  max-width: $outer-content-width;
}
div.section-header-inner {
  margin: 0;
}

div.section-header-inner h1 {
  color: #EFA44C;
  font-family: Rubik;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  padding-top: 40px;
  text-transform: uppercase;
  max-width: 515px;
}

/* Intro Section */
div.intro-header {
  background: linear-gradient(to bottom, #FDF7F0 90%, white 100%);
  min-height: 698px;
  width: 100%;
}

div.intro-header-outer {
  background:
    linear-gradient(to bottom, rgba(253, 247, 240, 0) 36%, #FDF7F0 95%),
    linear-gradient(to left, rgba(253, 247, 240, 0) 48%, #FDF7F0 92%),
    url(../images/farmers-market-color.png);
  background-position: 125px -35px;
  background-repeat: no-repeat;
  background-size:contain;
  min-height: 660px;
  margin: 0 auto;
  position: relative;
  max-width: $outer-content-width;
  display:none;
}

div.intro-header-inner {
  margin: 0 auto;
  max-width:$inner-content-width;
  display:none;
}

div.intro-header-inner h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top:65px;
  max-width: 515px;
}

div.intro-header-inner h2 {
  font-family: IBMPlexSans;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 44px;
  margin-bottom: 0;
  max-width: 515px;
}

div.intro-header-inner p {
  font-family: Lora;
  font-size: 18px;
  line-height: 23px;
  margin-top: 50px;
  margin-bottom: 0;
  max-width: 622px;
}

div.scroll-tip {
  cursor: pointer;
  margin: 34px 0 0 90px;
  width: 56px;
  height: 56px;
  background-image: url(../images/scroll-tip.png);
  background-repeat: no-repeat;
  background-size: cover;
}

div#intro-content {
  margin-top: 0;
  padding-top: 10px;
}

/* Hero Image Section Headers */
div.hero-header {
  width: 100%;
}

div.hero-header-outer {
  min-height: 570px;
  margin: 0 auto;
  position: relative;
  max-width: $outer-content-width;
}

div.hero-header-inner {
  margin: 0 auto;
  max-width: $inner-content-width;
}

div.hero-header-inner h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 415px;
  text-transform: uppercase;
  font-family: Rubik;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  color: #EFA44C;
  max-width: 515px;
}

div.hero-header-inner h2 {
  margin-top: 24px;
}

div.hero-header-outer.instability {
  background:
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, white 92%),
    url(../images/student-color.png);
  background-size: contain;
  background-position: 112px 0;
  background-repeat: no-repeat;
}

div.hero-header-outer.shocks {
  margin-top: 60px;
  background:
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, white 92%),
    url(../images/seniors-color.png);
  background-size: cover;
  background-position: 0 -30px;
  background-repeat: no-repeat;
}

div.hero-header-outer.calfresh {
  background:
    linear-gradient(to bottom, rgba(255, 255, 255, 0) 40%, white 92%),
    url(../images/potrero-color.png);
  background-size: cover;
  background-position: 100px 0;
  background-repeat: no-repeat;
}

/* Content Divs */
div.content-outer {
  max-width: $outer-content-width;
  margin: 0 auto;
}

div.content-inner {
  max-width: $inner-content-width;
  margin: 0 auto;
}

div.content-inner.heading {
  margin-top: 60px;
}

p {
  font-family: SourceSansPro;
  font-size: 19px;
  line-height: 26px;
}

/* Myths & Facts */
div.myths {
  margin-bottom: 80px;
}

div.myths-outer {
  margin: 0 auto;
  max-width: $outer-content-width;
}

div.myths-inner {
  margin: 0 auto;
  max-width: $inner-content-width;
}

div.myth-table {
  border: 1px solid #EFA44C;
  border-radius: 4px;
  width: 100%;
}

div.myth-row {
  border: 1px solid #EFA44C;
}

div.myth-summary {
  display: flex;
}

div.myth-summary.hovered {
  background-color: #FDF4E9;
}

div.myth-summary-left {
  flex-basis: 85%;
}

div.myth-summary-right {
  display: flex;
  align-items: center;
  flex-basis: 15%;
  overflow: hidden;
}

div.myth-expander {
  width: 29px;
  height: 29px;
  margin: auto;
  background-image: url(../images/expand_arrow.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
  transform: rotate(-90deg);
  transition: transform 100ms ease-out;
}

div.myth-expander.expanded {
  transform: rotate(0deg);
}

div.myth-summary-top, div.myth-summary-bottom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 16px;
}

div.myth-summary-bottom {
  padding-top: 0;
}

div.myth-summary-top-label, div.myth-summary-bottom-label {
  font-family: Rubik;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 80px;
}

div.myth-summary-top-label {
  color: #9B9B9B;
}

div.myth-summary-bottom-label {
  color: #EFA44C;
}

div.myth-summary-top-content, div.myth-summary-bottom-content {
  font-family: IBMPlexSans;
  font-size: 18px;
}

div.myth-summary-bottom-content {
  font-weight: bold;
}

div.myth-detail {
  background-color: #FDF4E9;
  padding: 16px 96px;
  font-family: SourceSansPro;
  font-size: 19px;
  line-height: 26px;
  display: none;
}

/* Stats Box divs */
div.stats {
  position: relative;
  width: 100%;
}

div.stats-outer {
  margin: 0 auto;
  max-width: $outer-content-width;
}

div.stats-inner {
  margin: 40px auto;
  max-width: $inner-content-width;
}

div.stats-inner h3 {
  font-family: IBMPlexSans;
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  margin: 0 20px;
}

div.stats-inner.intro div.stats-box {
  background-color: #EFA44C;
}

div.stats-inner.instability div.stats-box {
  background-color: #515C88;
}

div.stats-inner.shocks div.stats-box {
  background-color: #EF6D4C;
}

div.stats-inner.calfresh div.stats-box {
  background-color: #019C86;
}

div.stats-boxes-outer {
  margin: 0 15px;
}

div.stats-boxes-inner {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

div.stats-box {
  border-radius: 3px;
  height: 150px;
  padding: 10px;
  margin:5px;
  width: 150px;
}

div.stats-box div.tagline {
  color: white;
  font-family: IBMPlexSans;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  min-height: 18px;
  text-align: center;
}

div.stats-box div.title {
  color: white;
  font-family: Lora;
  font-size: 37px;
  font-weight: bold;
  line-height: 47px;
  margin-top: 6px;
  text-align: center;
  width: 100%;
}

div.stats-box div.body {
  color: white;
  font-family: IBMPlexSans;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 8px;
  text-align: center;
  width: 100%;
}

div.stats-source {
  font-family: SourceSansPro;
  font-size: 13px;
  margin: 0 20px;
}

/* Quotes divs */
div.quotes {
  margin: 100px 0 60px 0;
  width: 100%;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}

div.quotes.intro {
  background-color: #FBE9D4;
  border-top: 1px solid #FBE9D4;
  border-bottom: 1px solid #FBE9D4;
}

div.quotes.instability {
  background-color: #E1E3EA;
  border-top: 1px solid #E1E3EA;
  border-bottom: 1px solid #E1E3EA;
}

div.quotes.shocks {
  background-color: #FBE6E1;
  border-top: 1px solid #FBE6E1;
  border-bottom: 1px solid #FBE6E1;
}

div.quotes.calfresh {
  background-color: #D4EEEB;
  border-top: 1px solid #D4EEEB;
  border-bottom: 1px solid #D4EEEB;
  margin-bottom: 0;
}

div.quote-image {
  margin:-40px auto 0 40px;
  width:98px;
  height:79px;
}

div.quote-image.intro {
  background:url(../images/quotes-orange.png) no-repeat;
  background-size: contain;
}

div.quote-image.instability {
  background:url(../images/quotes-blue.png) no-repeat;
  background-size: contain;
}

div.quote-image.shocks {
  background:url(../images/quotes-red.png) no-repeat;
  background-size: contain;
}

div.quote-image.calfresh {
  background:url(../images/quotes-green.png) no-repeat;
  background-size: contain;
}

div.quotes-outer {
    max-width: $outer-content-width;
    margin: 0 auto;
}

div.quotes-inner {
  margin:40px auto;
  max-width:$inner-content-width;
}

div.quote-content {
  font-family: Lora;
  font-size: 18px;
  line-height: 28px;
  min-height: 200px;
  padding: 0 25px;
}

div.quote-selector-line-container {
  margin: 0 auto;
  max-width: 892px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

div.quote-selector-line-container.mobile {
  display: none;
}

div.quote-selector-line {
  background: url(../images/quote-line.png) no-repeat;
  height: 8px;
  width: 714px;
}

div.quote-selector-arrow {
  height: 100%;
  width: 68px;
  cursor: pointer;
}

div.quote-selector-arrow:hover {
  opacity: 0.6;
}

div.quote-selector-arrow.left {
  background: url(../images/quote-arrow-left.png) no-repeat;
}

div.quote-selector-arrow.right {
  background: url(../images/quote-arrow-right.png) no-repeat;
}

div.quote-selector {
  height: 60px;
  max-width: 710px;
  margin: -22px auto 25px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.quote-selector-tab.intro:hover, div.quote-selector-tab.intro.selected {
  background-color: #EFA44C;
}

div.quote-selector-tab.instability:hover, div.quote-selector-tab.instability.selected {
  background-color: #515C88;
}

div.quote-selector-tab.shocks:hover, div.quote-selector-tab.shocks.selected {
  background-color: #EF6D4C;
}

div.quote-selector-tab.calfresh:hover, div.quote-selector-tab.calfresh.selected {
  background-color: #019C86;
}

div.quote-selector-tab {
  color: $text-color;
  cursor: pointer;
  display: block;
  font-size: 15px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
  padding-top:18px;
  margin-top:18px;
}

div.quote-selector-tab:hover, div.quote-selector-tab.selected {
  color: white;
}

div.quote-selector-tab:hover {
  opacity: 0.6;
}

div.quote-selector-tab.selected:hover {
  opacity: 1;
}


/* Map */
div.map-container {
  margin: 60px auto 0;
  max-width: $outer-content-width;
}

div.map-inner {
  margin: 0;
}

div.map-container h3 {
  margin-top: 0;
  margin-bottom: 0;
}

div.map-info {
  float: left;
  width: 48%;
  height: 100%;
  margin-bottom: 20px;
}

div.county-details-note {
  font-family: SourceSansPro;
  font-size: 13px;
  margin-top: 20px;
}

div.county-details {
  background-color: #FDF4E9;
  box-shadow: 0 0 4px 0 #DEDEDE;
  margin-top: 15px;
}

div.county-details-tabs {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

div.county-details-tab {
  cursor: pointer;
  padding: 10px;
  height: 100%;
  background-color: #F5D0A5;
  text-align: center;
  flex-basis: 50%;
  flex-grow: 1;
  font-family: IBMPlexSans;
  font-size: 16px;
  line-height: 20px;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

div.county-details-tab:hover {
  opacity: 0.6;
}

div.county-details-tab.selected {
  background-color: #FDF4E9;
  color: black;
  font-weight: bold;
  box-shadow: none;
}

div.county-details-tab.selected:hover {
  opacity: 1;
}

div.county-details-content {
  font-family: IBMPlexSansCond;
}

div.county-details-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  padding: 20px 10px;
}

div.county-details-stat {
  display: flex;
  justify-content: space-between;
  align-items:stretch;
  flex-basis: 50%;
  font-size: 15px;
  line-height: 19px;
  min-height: 40px;
}

div.county-details-stat-name {
  flex-basis: 50%;
}

div.county-details-stat-desc {
  font-size: 13px;
  font-style: italic;
}

div.county-details-stat-number {
  flex-basis: 40%;
  font-weight: bold;
}

div.county-details-gcf-stats-heading {
  border-top: 1px solid #EFA44C;
  font-family: IBMPlexSans;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  padding: 15px 10px;
}

div.county-details-gcf-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  min-height: 240px;
  margin-top: 20px;
}

div.county-details-gcf-stat {
  flex-basis: 33%;
}

div.county-details-gcf-stat-name {
  width: 80%;
  margin: 12px auto;
  text-align: center;
  font-family: IBMPlexSans;
  font-size: 15px;
  line-height: 19px;
  margin-top: 12px;
  text-align: center;
}

div.county-details-gcf-stat-number {
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
}

div.map {
  float: right;
  width: 50%;
  height: 100%;
}

div#california-map {
  cursor: move;
  height: 600px;
}

div.county-details-stories {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  min-height: 427px;
}

div.map-quote {
  display: flex;
  justify-content:space-evenly;
  align-items:baseline;
}

div.map-quote-image {
  width:51px;
  height:34px;
  background:url(../images/quotes-map.png) no-repeat;
  background-size:contain;
}

p.map-quote-text {
  max-width: 320px;
  margin-right: 20px;
  font-family: Lora;
  font-size: 16px;
  line-height: 22px;
}

div.map-quote-selector {
    height: 60px;
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.map-quote-selector-arrow {
  height: 100%;
  width: 68px;
  cursor: pointer;
}

div.map-quote-selector-arrow:hover {
  opacity: 0.6;
}

div.map-quote-selector-arrow.left {
  background: url(../images/quote-arrow-left.png) center center no-repeat;
}

div.map-quote-selector-arrow.right {
  background: url(../images/quote-arrow-right.png) center center no-repeat;
}

div.map-quote-selector-dots {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
}

div.map-quote-selector-dot {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  border-radius: 15px;
  border: 3px solid black;
  cursor: pointer;
}

div.map-quote-selector-dot.selected {
  background-color: #EFA44C;
}

/* Footer */
footer {
  color: white;
}

div#footer-share {
  width: 100%;
  background-color: #EF6D4C;
}

div#footer-share-content {
  margin: 0 auto;
  padding: 64px 0 82px 0;
  max-width: 680px;
}

div#footer-share-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 450px;
  margin: 0 auto;
}

div#footer-share-heading h2 {
  color: white;
  font-family: Lora;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  width: 290px;
}

div#footer-share-body {
  font-family: SourceSansPro;
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  margin: 4px 0 40px 0;
  text-align: center;
}

div#footer-share-icons {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 218px;
}

div#footer-share-icons img {
  cursor: pointer;
}

div#footer-share-icons img:hover {
  opacity: 0.6;
}

div#footer-go {
  min-height: 335px;
  width: 100%;
  background-color: #019C86;
}

div#footer-go-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 243px;
  width: 270px;
  margin: 0 auto;
  padding: 52px 0;
  text-align: center;
}

div#footer-go-body {
  font-family: SourceSansPro;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}

div#footer-go a {
  border: 2px solid white;
  padding: 12px 15px;
  text-decoration: none;
  color: white;
  font-family: SourceSansPro;
  font-size: 19px;
}

div#footer-go a:hover {
  opacity: 0.6;
}

div#footer-license {
  min-height: 305px;
  width: 100%;
  background-color: #30302F;
}

div#footer-license-content {
  max-width: $inner-content-width;
  padding-top: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div#footer-license-body {
  max-width: 594px;
}

div#footer-license-body p {
  font-family: SourceSansPro;
  font-size: 14px;
  line-height: 18px;
  color: #e5e5e5;
}

div#footer-license a:hover {
  opacity: 0.6;
}

/* Sharing Widget */
div.share-menu {
  background-color: #EFA44C;
  height: 50px;
  width: 58px;
  position: absolute;
  right: 50px;
  bottom: 48px;
  overflow: hidden;
  border-radius: 3px;
}

div.hero-header div.share-menu {
  bottom: 102px;
}

section#explore div.share-menu {
  bottom: 68px;
  right: 0;
}

div.section-header div.share-menu {
  bottom: 56px;
}

div.share-menu.closed {
  width: 58px;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

div.share-menu.open {
  width: 209px;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

div.share-menu-divider {
  background-color: white;
  width: 1px;
  height: 38px;
  margin: 6px 0;
  float: right;
}

div.share-menu-icon {
  height: 50px;
  width: 50px;
  float: right;
  cursor: pointer;
}

div.share-menu-icon:hover {
  opacity: 0.6;
}

div.share-menu-icon.toggle {
  background: #EFA44C url(../images/share-icon.png) center no-repeat;
  background-size: 38px 38px;
  width: 58px;
}

div.share-menu-icon.facebook {
  background: #EFA44C url(../images/share-facebook.png) center no-repeat;
  background-size: 38px 38px;
}

div.share-menu-icon.twitter {
  background: #EFA44C url(../images/share-twitter.png) center no-repeat;
  background-size: 38px 38px;
}

div.share-menu-icon.email {
  background: #EFA44C url(../images/share-email.png) center no-repeat;
  background-size: 38px 38px;
}

/* Callout/Tooltip */
span.callout {
  color: #EFA44C;
  border-bottom: 2px dashed #EFA44C;
  padding: 0px 4px;
  cursor:help;
}

.ui-tooltip {
  background-color: white;
  border: 2px solid #EFA44C;
  max-width:560px;
  box-shadow: 10px 10px 0 0 #EFA44C;
  position: absolute;
}

.ui-tooltip:after, .ui-tooltip:before {
	right: 100%;
	top: 20%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ui-tooltip:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 30px;
	margin-top: -30px;
}
.ui-tooltip:before {
	border-color: rgba(239, 164, 76, 0);
	border-right-color: #EFA44C;
	border-width: 33px;
	margin-top: -33px;
}

.ui-tooltip-content {
  padding: 20px;
  font-family: SourceSansPro;
  font-size: 19px;
  line-height: 24px;
}

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Mapbox overrides */
.mapboxgl-ctrl-group {
    border-radius: 3px;
    border: none;
    overflow: hidden;
    background: #fff;
    box-shadow: none;
}

.mapboxgl-ctrl-zoom-in {
  background-image: url(data:image/svg+xml;charset=utf8,<svg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27>%0A%20%20<path%20style%3D%27fill%3A%23ffffff%3B%27%20d%3D%27M%2010%206%20C%209.446%206%209%206.4459904%209%207%20L%209%209%20L%207%209%20C%206.446%209%206%209.446%206%2010%20C%206%2010.554%206.446%2011%207%2011%20L%209%2011%20L%209%2013%20C%209%2013.55401%209.446%2014%2010%2014%20C%2010.554%2014%2011%2013.55401%2011%2013%20L%2011%2011%20L%2013%2011%20C%2013.554%2011%2014%2010.554%2014%2010%20C%2014%209.446%2013.554%209%2013%209%20L%2011%209%20L%2011%207%20C%2011%206.4459904%2010.554%206%2010%206%20z%27%20%2F>%0A<%2Fsvg>%0A) !important;
}

.mapboxgl-ctrl-zoom-out {
  background-image: url(data:image/svg+xml;charset=utf8,<svg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27>%0A%20%20<path%20style%3D%27fill%3A%23ffffff%3B%27%20d%3D%27m%207%2C9%20c%20-0.554%2C0%20-1%2C0.446%20-1%2C1%200%2C0.554%200.446%2C1%201%2C1%20l%206%2C0%20c%200.554%2C0%201%2C-0.446%201%2C-1%200%2C-0.554%20-0.446%2C-1%20-1%2C-1%20z%27%20%2F>%0A<%2Fsvg>%0A) !important;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in, .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out {
  background-color: #EFA44C;
  border-color: white;
  opacity: 1;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-in:hover, .mapboxgl-ctrl-icon.mapboxgl-ctrl-zoom-out:hover {
  background-color: #EFA44C;
  opacity: 0.6;
}
