<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@codeforamerica" />
    <meta name="twitter:title" content="{{page.title}}" />
    <meta name="twitter:description" content="CalFresh helps people through
    challenging times in their lives. This site shares their stories." />
    <meta name="twitter:image" content="https://gcf-microsite.herokuapp.com/images/seniors-color.png" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="CalFresh helps people through
    challenging times in their lives. This site shares their stories." />
    <meta property="og:image" content="https://gcf-microsite.herokuapp.com/images/seniors-color.png" />
    <meta property="og:url" content="http://gcf-microsite.herokuapp.com/">

    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsmaps.css"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="js/jquery.smint.js" type="text/javascript"></script>
    <script src="js/jsmaps-libs.js" type="text/javascript"></script>
    <script src="js/jsmaps-panzoom.js"></script>
    <script src="js/jsmaps.js" type="text/javascript"></script>
    <script src="js/california.js" type="text/javascript"></script>

  </head>
  <body>

    <header class="stickynav">
      <nav>
        <a href="#intro"><div id="logo"></div></a>
        <a class="nav-item" href="#instability">Instability</a>
        <a class="nav-item" href="#shocks">Common Shocks</a>
        <a class="nav-item" href="#calfresh">How CalFresh Helps</a>
        <a class="nav-item" href="#explore">Explore Counties</a>
      </nav>
    </header>

    <div id="main" role="main">
      {{ content }}
    </div>

    <footer>
      {% include footer.html %}
    </footer>

    <script type="text/javascript">
      var quotes = {{site.data.quotes | jsonify}};

      var selectQuote = function(contentId, tabId) {
        $('#quote-content-'+contentId).html(quotes[contentId][tabId].quote);
        $('.quote-selector-tab.'+contentId).removeClass('selected');
        $('#quote-selector-tab-'+contentId+'-'+tabId).addClass('selected');
      };

      var colorNav = function() {
        if($(document).scrollTop() > $('section#instability').offset().top-140) {
          $("nav").addClass("scrolled");
        } else {
          //remove the background property so it comes transparent again (defined in your css)
          $("nav").removeClass("scrolled");
        }
      };

      var shareEmail = function() {
        window.open("mailto:?subject={{page.title}}&body=A fresh look at the facts from Code for America: https://gcf-microsite.herokuapp.com/");
      };

      var shareFacebook = function() {
        window.open("https://www.facebook.com/sharer/sharer.php?u=https://gcf-microsite.herokuapp.com/");
      }

      var shareTwitter = function() {
        window.open("https://twitter.com/intent/tweet?text={{page.title}} A fresh look at the facts from @codeforamerica&url=https://gcf-microsite.herokuapp.com/&hashtags=feedthepeople,civictech");
      }

      $(document).ready( function() {
        // Map
        $('#california-map').JSMaps({
           map: 'california'
        });

        // Scroll-top in top section
        $('.scroll-tip').click(function() {
          var navOffset = $('.smint').height();
          var goTo =  $('div#intro-content').position().top-navOffset;
  				$("html, body").stop().animate({ scrollTop: goTo }, 1500);
        });

        // Quote Explorers
        $('div.quote-selector-arrow.left').click(function() {
          var contentId = this.id.split('-')[4];
          var activeTab = $('.quote-selector-tab.'+contentId+'.selected');
          var activeTabId = parseInt(activeTab.attr('id').split('-')[4]);
          var newTabId = quotes[contentId].length - 1;
          if (activeTabId > 0) {
            newTabId = activeTabId - 1;
          }
          selectQuote(contentId, newTabId);
        });
        $('div.quote-selector-arrow.right').click(function() {
          var contentId = this.id.split('-')[4];
          var activeTab = $('.quote-selector-tab.'+contentId+'.selected');
          var activeTabId = parseInt(activeTab.attr('id').split('-')[4]);
          var newTabId = 0;
          if (activeTabId < quotes[contentId].length - 1) {
            newTabId = activeTabId + 1;
          }
          selectQuote(contentId, newTabId);
        });

        // Sharing Widget
        $('div.share-menu').click(function() {
          if ($('div.share-menu').hasClass('open')) {
            $('div.share-menu').removeClass('open');
            $('div.share-menu').addClass('closed');
          } else {
            $('div.share-menu').removeClass('closed');
            $('div.share-menu').addClass('open');
          }
        })

        $('div.share-menu-icon.facebook').click(function() {
          shareFacebook();
        })
        $('div.share-menu-icon.twitter').click(function() {
          shareTwitter();
        })
        $('div.share-menu-icon.email').click(function() {
          shareEmail();
        })

        // Sharing in Footer
        $('img#footer-share-facebook').click(function() {
          shareFacebook();
        })
        $('img#footer-share-twitter').click(function() {
          shareTwitter();
        })
        $('img#footer-share-email').click(function() {
          shareEmail();
        })

        // Change nav bar color on scroll
        $(window).on("scroll", function() {
          colorNav();
        });

        // Sticky nav
        $('.stickynav').smint({
          'mySelector': 'section',
          'scrollSpeed' : 1500
        });

        colorNav();
      });

    </script>

  </body>
</html>
