<!doctype html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5W468WQ');</script>
    <!-- End Google Tag Manager -->

    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@codeforamerica" />
    <meta name="twitter:title" content="{{page.title}}" />
    <meta name="twitter:description" content="CalFresh helps people through
    challenging times in their lives. This site shares their stories." />
    <meta name="twitter:image" content="https://snapstories.codeforamerica.org/images/seniors-color.png" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{page.title}}" />
    <meta property="og:description" content="CalFresh helps people through
    challenging times in their lives. This site shares their stories." />
    <meta property="og:image" content="https://snapstories.codeforamerica.org/images/seniors-color.png" />
    <meta property="og:url" content="http://snapstories.codeforamerica.org/">

    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="css/styles.css" />

    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <script src="js/jquery.smint.js" type="text/javascript"></script>
    <script src="js/wow.min.js" type="text/javascript"></script>
    <script src="js/mapbox_map.js" type="text/javascript"></script>
    <script src="js/myths.js" type="text/javascript"></script>
    <script src="js/resources.js" type="text/javascript"></script>
    <script src="js/quote_explorer.js" type="text/javascript"></script>
    <script src="js/social.js" type="text/javascript"></script>
    <script src="js/tooltips.js" type="text/javascript"></script>
    <script src="js/navigation.js" type="text/javascript"></script>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5W468WQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include header.html %}

    <div id="main" role="main">
      {{ content }}
    </div>

    <footer>
      {% include footer.html %}
    </footer>

    {% include script.html %}
  </body>
</html>
