<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
    <link rel="stylesheet" type="text/css" href="css/jsmaps.css"/>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="js/jquery.smint.js" type="text/javascript"></script>
    <!-- jsmaps-panzoom.js is optional if you are using enablePanZoom -->
    <script src="js/jsmaps-libs.js" type="text/javascript"></script>
    <script src="js/jsmaps-panzoom.js"></script>
    <script src="js/jsmaps.min.js" type="text/javascript"></script>
    <script src="js/california.js" type="text/javascript"></script>
  </head>
  <body>

    <header class="stickynav">
      <nav>
        <a href="#intro"><div id="logo"></div></a>
        <a class="nav-item" href="#instability">Instability</a>
        <a class="nav-item" href="#shocks">Common Shocks</a>
        <a class="nav-item" href="#calfresh">How CalFresh Helps</a>
        <a class="nav-item" href="#explore">Explore Counties</a>
      </nav>
    </header>

    <div id="main" role="main">
      {{ content }}
    </div>

    <footer>
      2019 Code for America
    </footer>

    <script type="text/javascript">
      $(document).ready( function() {
        // SMINT sticky nav
	      $('.stickynav').smint({
          'mySelector': 'section',
          'scrollSpeed' : 1500
        });

        // Map
        $('#california-map').JSMaps({
           map: 'california'
        });

        // Scroll-top in top section
        $('.scroll-tip').click(function() {
          var navOffset = $('.smint').height();
          var goTo =  $('section.instability').position().top-navOffset;
  				$("html, body").stop().animate({ scrollTop: goTo }, 1500);
        });
      });

      // Change nav bar color on scroll
      $(window).on("scroll", function() {
        if($(document).scrollTop() > $('section.instability').offset().top-140) {
          $("nav").addClass("scrolled");
        } else {
          //remove the background property so it comes transparent again (defined in your css)
          $("nav").removeClass("scrolled");
        }
      });

      // Quote Explorers
      var quotes = {{site.data.quotes | jsonify}};
      var selectQuote = function(contentId, tabId) {
        $('#quote-content-'+contentId).html(quotes[contentId][tabId].quote);
        $('.quote-selector-tab.'+contentId).removeClass('selected');
        $('#quote-selector-tab-'+contentId+'-'+tabId).addClass('selected');
      };
    </script>

  </body>
</html>
